@model LogiTrack.Core.ViewModels.Clients.ClientDetailsViewModel
@{
    ViewData["Title"] = "Client Details";
    Layout = "~/Views/Shared/_SpeditorLayout.cshtml";
}

<div class="delivery-details-container">
    <div class="details-card">
        <div class="details-header">
            <div class="delivery-image">
                <i class="bi bi-person-circle " style="font-size: 40px; color:#00aa87;"></i>
            </div>
            <h3><b>@Model.Name</b></h3>
        </div>

        <div class="button-tabs">
            <button class="tab-button" id="infoBtn">INFO</button>
            <button class="tab-button" id="deliveriesBtn">DELIVERIES</button>
            <button class="tab-button" id="statisticsBtn">STATISTICS</button>
        </div>

        <div id="infoSection" class="section d-none">
            <h4><b>Company details</b></h4>
            <div class="column-container">
                <div class="column">
                    <p><strong>Name:</strong> @Model.Name</p>
                    <p><strong>Registration number:</strong> @Model.RegistrationNumber</p>
                    <p><strong>Industry:</strong> @Model.Industry</p>
                    <p><strong>Created:</strong> @Model.CreatedAt</p>
                </div>
                <div class="column">
                    <p><strong>Street:</strong> @Model.Street</p>
                    <p><strong>City:</strong> @Model.City, @Model.PostalCode</p>
                    <p><strong>Country:</strong> @Model.Country</p>
                </div>
            </div>
            <div class="divider-line"></div>

            <h4><b>Contact details</b></h4>
            <div class="contact-container">
                <p><strong>Username:</strong> @Model.Username</p>
                <div class="contact">
                    <p><strong>Contact person:</strong> @Model.ContactPerson</p>
                    <p><strong>Email:</strong> @Model.Email</p>
                    <p><strong>Phone:</strong> @Model.PhoneNumber, <strong>Alternative phone:</strong> @Model.AlternativePhoneNumber</p>
                </div>
            </div>
        </div>

        <div id="deliveriesSection" class="section d-none">
            <div class="cards-container">
                <div class="card" id="locationCard">
                    <div class="card-content">
                        <h3>Last month</h3>
                        <p><b>@Model.DeliveriesLastMonth</b></p>
                    </div>
                </div>
                <div class="card" id="locationCard">
                    <div class="card-content">
                        <h3>Not paid</h3>
                        <p><b>@Model.NotPaidDeliveries</b></p>
                    </div>
                </div>
                <div class="card" id="locationCard">
                    <div class="card-content">
                        <h3>Late</h3>
                        <p><b>@Model.NotOnTimeDeliveries</b></p>
                    </div>
                </div>
            </div>

            <div class="filtered-deliveries-container">

                <div class="delivery-header">
                    <span>Ref No</span>
                    <span>Origin</span>
                    <span>Destination</span>
                    <span>Expected Date</span>
                    <span>Price</span>
                    <span>Delivered</span>
                    <span>Paid</span>
                </div>
                @if (Model.Deliveries.Any())
                {
                    <div class="delivery-list">
                        @foreach (var delivery in Model.Deliveries)
                        {
                            <div class="delivery-card">
                                <div class="delivery-info">
                                    <a asp-action="DeliveryDetails" asp-controller="Logistics" asp-route-id="@delivery.Id" style="text-decoration:none; color:inherit;"><span>@delivery.ReferenceNumber</span></a>
                                    <span class="address">@delivery.PickupAddress</span>
                                    <span class="address">@delivery.DeliveryAddress</span>

                                    <span>@delivery.ExpectedDeliveryDate</span>
                                    <span>@delivery.FinalPrice BGN</span>
                                    <span>
                                        @if (delivery.IsDelivered)
                                        {
                                            <i class="bi bi-check-circle-fill" style="color: #00aa87;"></i>
                                        }
                                    </span>
                                    <span>
                                        @if (delivery.IsPaid)
                                        {
                                            <i class="bi bi-check-circle-fill" style="color: #00aa87;"></i>
                                        }
                                    </span>
                                </div>
                                <div class="delivery-metrics">
                                    <p><b>Packs:</b> @delivery.TotalItems</p>
                                    <p><b>Weight:</b> @delivery.TotalWeight</p>
                                    <p><b>Volume:</b> @delivery.TotalVolume</p>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p class="no-found">No deliveries found for the company.</p>
                }
            </div>
        </div>

        <div id="statisticsSection" class="section  d-none">
            <div class="chart-container">
                <div class="cards-container">
                    <div class="card" id="locationCard">
                        <div class="card-content">
                            <h3>Deliveries</h3>
                            <p><b>@Model.TotalDeliveries</b></p>
                        </div>
                    </div>
                    <div class="card" id="locationCard">
                        <div class="card-content">
                            <h3>Profit</h3>
                            <p><b>@Model.TotalProfit BGN</b></p>
                        </div>
                    </div>
                    <div class="card" id="locationCard">
                        <div class="card-content">
                            <h3>Satisfactory deliveries</h3>
                            <p><b>@Model.TotalSatisfactionDeliveries</b></p>
                        </div>
                    </div>
                    <div class="card" id="locationCard">
                        <div class="card-content">
                            <h3>Requests</h3>
                            <p><b> @Model.TotalRequests</b></p>
                        </div>
                    </div>
                </div>

                <h4>Deliveries</h4>
                <div class="first-row">
                    <div class="chart-container">
                        <h4>Delivery types ratio</h4>
                        <canvas id="deliveryChart" class="chart" data-model-id="@Model.Id"></canvas>
                    </div>
                    <div class="chart-container">
                        <h4>Deliveries last year</h4>
                        <canvas id="monthlyDeliveryChart" class="chart" data-model-id="@Model.Id"></canvas>
                    </div>
                </div>
                <div class="first-row">
                    <div class="chart-container">
                        <h4>Cost per delivery</h4>
                        <canvas id="deliveryCostChart" class="chart" data-model-id="@Model.Id"></canvas>
                    </div>
                    <div class="chart-container">
                        <h4>Deliveries made on time</h4>
                        <div class="delay" style="width: 100px; height: 100%;">
                            <canvas id="successRateChart" class="chart" data-model-id="@Model.Id"></canvas>
                            <p style="color: #00aa87; width: 100px; height: 100%;" id="averageDelay" class="stat-text"></p>
                        </div>

                    </div>
                </div>

                <h4>Prices</h4>
                <div class="first-row">
                    <div class="chart-container">
                        <h4>Revenue</h4>
                        <canvas id="revenueBarChart" class="chart" data-model-id="@Model.Id"></canvas>
                    </div>
                    <input type="hidden" id="clientId" value="@Model.Id" />

                    <div class="chart-container">
                        <h4>Approximate price to final price differences</h4>
                        <canvas id="priceDifferenceChart" class="chart" data-model-id="@Model.Id"></canvas>
                    </div>
                </div>

                <h4>Requests</h4>
                <div class="chart-container">
                    <h4>Request to delivery conversion rate</h4>
                    <canvas style="margin-left:150px;" id="singleClientConversionChart" class="chart" data-model-id="@Model.Id"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>


@section Scripts {
    <script src="~/js/clientDetailsStatistics.js"></script>
    <script src="~/js/sectionShow.js"></script>

}
<style>
    .delivery-details-container {
        width: 100%;
    }

    .details-card {
        box-shadow: 0 0 15px 1px #0000000f !important;
        padding: 17px;
        background-color: white;
    }

    .details-header {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .delivery-image {
        width: 50px;
        height: auto;
    }

    h4 {
        margin: 10px 0;
        color: #00aa87;
        font-size: 1.1rem;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 98%;
    }

        .contact-container p {
            font-size: 0.9rem;
            opacity: 90%;
        }

    .divider-line {
        height: 1px;
        background-color: #e0e0e0;
        margin: 10px 0;
    }

    .delivery-header {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 30px;
        font-weight: bold;
        font-size: 0.90rem;
        width: 90%;
    }

    .delivery-card {
        background-color: white;
        font-size: 0.80rem;
        display: flex;
        flex-direction: column;
        transition: background-color 0.3s ease;
        position: relative;
        overflow: hidden;
    }

        .delivery-card:nth-child(even) {
            background-color: #F5F5F7;
        }

    .delivery-info {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
        margin-top: 28px;
        margin-left: 30px;
        height: 5px;
    }

    .delivery-metrics {
        display: none;
        margin-top: 10px;
        background-color: #f1f8ff;
        width: 100%;
        transition: background-color 0.3s ease;
    }

        .delivery-metrics p {
            margin-left: 210px;
        }

    
    .address {
        width: 140px;
        flex-wrap: wrap;
    }

    p {
        font-size: 14px;
    }   
</style>



