@model LogiTrack.Core.ViewModels.Speditor.SpeditorDashboardViewModel
@{
    ViewData["Title"] = "Speditor Dashboard";
    Layout = "~/Views/Shared/_SpeditorLayout.cshtml";
}

<div class="cards-container">
    <div class="card" id="locationCard">
        <div class="card-icon">
            <i class="fas fa-file-alt" style="font-size: 50px; color:#00aa87;"></i>
        </div>
        <div class="card-content">
            <h3>NEW REQUESTS</h3>
            <p><b>@Model.PendingRequestsCount</b></p>
        </div>
        <div class="card-button-info">
            <a asp-action="PendingRequests" asp-controller="Speditor" class="card-button">SEE</a>
            <p>@Model.NewRequests new</p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-box" style="font-size: 50px; color:#00aa87;"></i>
        </div>
        <div class="card-content">
            <h3>OFEFRS</h3>
            <p><b>@Model.TotalOffers</b></p>
        </div>
        <div class="card-button-info">
            <a asp-action="OffersRegister" asp-controller="Speditor" class="card-button">SEE</a>
            <p>@Model.AcceptedOffers approved</p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-truck" style="font-size: 50px; color:#00aa87;"></i>
        </div>
        <div class="card-content">
            <h3>AVAILABLE VEHICLES / DRIVERS</h3>
            <p><b>@Model.AvailableVehicles / @Model.AvailableDrivers</b></p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-droplet" style="font-size: 50px; color:#00aa87;"></i>
        </div>
        <div class="card-content">
            <h3>FUEL PRICE TODAY</h3>
            <p><b>@Model.FuelPrice</b></p>
        </div>
        <div class="card-button-info">
            <a asp-action="AddFuelPrice" asp-controller="Speditor" class="card-button">ADD +</a>
        </div>
    </div>
</div>

<div class="diagrams">
    <div class="diagram">
        <div class="diagram-header">
            <h3>Offers</h3>
            <a asp-action="OffersRegister" asp-controller="Speditor" class="see-all">See All</a>
        </div>
        <div class="invoice-header">
            <p><b>Ref No</b></p>
            <p><b>Addresses</b></p>
            <p><b>Amount</b></p>
        </div>
        @foreach (var item in Model.LastFivePendingOffers)
        {
            <div class="delivery">
                <div class="delivery-info">
                    <a asp-action="OfferDetails" asp-controller="Speditor" asp-route-id="@item.Id" class="ref-num">@item.ReferenceNumber</a>
                    <img src="~/dashboard_books_dots.svg" alt="Road" class="road-icon">
                    <div class="addresses">
                        <p class="pickup-address">@item.PickupAddress</p>
                        <p class="delivery-address">@item.DeliveryAddress</p>
                    </div>
                </div>
                <p> @item.Price BGN</p>
            </div>
        }
    </div>
    <div class="diagram">
        <div class="diagram-header">
            <h3>New requests</h3>
            <a asp-action="GetPendingRequests" asp-controller="Speditor" class="see-all">See new</a>
        </div>
        <div class="invoice-header">
            <p><b>Ref No</b></p>
            <p><b>Addresses</b></p>
            <p><b>Amount</b></p>
            <p><b>Client</b></p>
        </div>
        @foreach (var item in Model.LastFiveNewRequests)
        {
            <div class="delivery">
                <div class="delivery-info">
                    <a asp-action="RequestDetails" asp-controller="Speditor" asp-route-id="@item.Id" class="ref-num">@item.ReferenceNumber</a>
                    <img src="~/dashboard_books_dots.svg" alt="Road" class="road-icon">
                    <div class="addresses">
                        <p class="pickup-address">@item.PickupAddress</p>
                        <p class="delivery-address">@item.DeliveryAddress</p>
                    </div>
                </div>
                <p> @item.CreationDate</p>
                <p> @item.Price BGN</p>

                <p> @item.CompanyName</p>
            </div>
        }
    </div>

    <div class="diagram">
        <div class="diagram-header">
            <h3>Track</h3>
            <a asp-action="DeliveriesRegister" asp-controller="Speditor" class="see-all">See All</a>
        </div>
        <div class="invoice-header" style="margin-bottom:20px;">
        <p><b>Ref No</b></p>
        <p><b>Addresses</b></p>
        <p><b>Status</b></p>
        </div>
        @foreach (var item in Model.LastFiveDeliveries)
        {
            <div class="delivery-tracking">

                <a asp-action="DeliveryDetails" asp-controller="Speditor" asp-route-id="@item.Id" class="ref-num">@item.ReferenceNumber</a>

                <div class="delivery-info">
                    <a asp-action="DeliveryDetails" asp-controller="Driver"></a>
                    <img src="~/dashboard_books_dots.svg" alt="Road" class="road-icon">
                    <div class="addresses">
                        <p class="pickup-address">@item.PickupAddress</p>
                        <p class="delivery-address">@item.DeliveryAddress</p>
                    </div>
                </div>

                <div class="tracking-line">
                    <div class="dot" style="background-color: @(item.DeliveryStep >= 1 ? "#00aa87" : "gray")"></div>
                    <div class="line" style="background-color: @(item.DeliveryStep >= 2 ? "#00aa87" : "gray")"></div>
                    <div class="dot" style="background-color: @(item.DeliveryStep >= 2 ? "#00aa87" : "gray")"></div>
                    <div class="line" style="background-color: @(item.DeliveryStep >= 3 ? "#00aa87" : "gray")"></div>
                    <div class="dot" style="background-color: @(item.DeliveryStep >= 3 ? "#00aa87" : "gray")"></div>
                    <div class="line" style="background-color: @(item.DeliveryStep >= 4 ? "#00aa87" : "gray")"></div>
                    <div class="dot" style="background-color: @(item.DeliveryStep >= 4 ? "#00aa87" : "gray")"></div>
                </div>
            </div>
        }
    </div>
    <div class="diagram">
        <div id="calendar" class="calendar"></div>
        <div id="event-details" class="event-details"></div>
    </div>
</div>



<style>
    .delivery {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .delivery-info {
        display: flex;
        align-items: center;
        font-size: 0.85rem;
        justify-content:normal;
        margin:0;
    }

        .delivery-info p {
            margin: 0;
        }

    .delivery-tracking {
        display: flex;
        flex-direction: row;
        margin-bottom: 45px;
        margin-top: 10px;
    }

    .addresses {
        font-size: 0.85rem;
        width: 65%;
        word-wrap:break-word;
        flex-wrap: wrap;
    }

    .pickup-address, .delivery-address {
        margin: 0;
    }

    .client-company {
        font-size: 0.85rem;
    }

    .road-icon {
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }

    .ref-num {
        text-decoration: none;
        color: black;
        text-rendering: optimizelegibility;
        font-size: 0.80rem;
    }

    .card-button-info {
        display: flex;
        flex-direction: column;
    }

        .card-button-info p {
            font-size: 0.8rem;
            color: #666;
            margin-top: 10px;
        }

    .tracking-line {
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 30%;
        margin-left: 35px;
    }

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .line {
        flex: 1;
        height: 3px;
    }

    p {
        font-size: 14px;
    }

    .date {
        width: 60px;
        flex-wrap: wrap;
    }

    .invoice {
        width: 90%;
    }
</style>
@section Scripts {
    <script src="~/js/speditorCalendar.js"></script>
}