@model LogiTrack.Core.ViewModels.Delivery.FilterDeliveriesForLogististicsViewModel
@{
    ViewData["Title"] = "Deliveries Register";
    Layout = "~/Views/Shared/_SpeditorLayout.cshtml";
}
<div class="container mt-5">
    <div class="search-header">
        <div class="search-icon">
            <i class="bi bi-search" style="font-size: 35px; color:#00aa87;"></i>
        </div>                 <h2 class="quick-search-title">Quick my deliveries search</h2>
    </div>
    <p class="search-description">Please enter your search criteria</p>

    <form asp-action="DeliveriesRegister" asp-controller="Speditor" method="get" class="search-form">
        <div class="row">
            <div class="form-group">
                <label asp-for="ReferenceNumber"><b>Ref No</b></label>
                <input type="text" id="ReferenceNumber" asp-for="ReferenceNumber" placeholder="Please enter">
                <span asp-validation-for="ReferenceNumber"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPrice"><b>Min price</b></label>
                <input type="text" id="CompanyName" asp-for="MinPrice" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="MaxPrice"><b>Max price</b></label>
                <input type="text" id="CompanyName" asp-for="MaxPrice" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="PickupAddress"><b>Origin</b></label>
                <input type="text" id="CompanyName" asp-for="PickupAddress" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAddress"><b>Destination</b></label>
                <input type="text" id="CompanyName" asp-for="DeliveryAddress" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="StartDate"><b>Start</b></label>
                <input type="date" id="StartDate" asp-for="StartDate" class="flatpickr" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="EndDate"><b>End</b></label>
                <input type="date" id="EndDate" class="flatpickr" asp-for="EndDate" placeholder="Please enter">
            </div>
            <div class="checkboxes">
                <div class="form-group">
                    <label asp-for="IsPaid"><b>Paid</b></label>
                    <input type="checkbox" id="IsPaid" asp-for="IsPaid">
                </div>
                <div class="form-group">
                    <label asp-for="IsDelivered"><b>Delivered</b></label>
                    <input type="checkbox" id="IsDelivered" asp-for="IsDelivered">
                </div>
            </div>
        </div>
        <div class="button-group">
            <button type="submit" class="btn"><b>GO</b></button>
            <a asp-action="DeliveriesRegister" asp-action="Speditor" type="reset" class="btn-clear"><b>CLEAR</b></a>
        </div>
    </form>
</div>

<div class="filtered-deliveries-container">
    <form asp-action="DeliveriesRegister" asp-controller="Speditor" method="get" class="quick-search-form">
        <div class="form-group">
            <input type="text" id="keyword" asp-for="SearchTerm" placeholder="Enter keyword">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </div>
    </form>
    <div class="delivery-header">
        <span>Ref No</span>
        <span>Origin</span>
        <span>Destination</span>
        <span>Expected Date</span>
        <span>Price</span>
        <span>Delivered</span>
        <span>Paid</span>
    </div>
    @if (Model.Deliveries.Any())
    {
        <div class="delivery-list">
            @foreach (var delivery in Model.Deliveries)
            {
                <div class="delivery-card">
                    <div class="delivery-info">
                        <a asp-action="DeliveryDetails" asp-controller="Speditor" asp-route-id="@delivery.Id" style="text-decoration:none; color:inherit;"><span>@delivery.ReferenceNumber</span></a>
                        <span class="address">@delivery.PickupAddress</span>
                        <span class="address">@delivery.DeliveryAddress</span>
                        <span>@delivery.ExpectedDeliveryDate</span>
                        <span>@delivery.FinalPrice BGN</span>
                        <span>
                            @if (delivery.IsDelivered)
                            {
                                <i class="bi bi-check-circle-fill" style="color: #00aa87;"></i>
                            }
                        </span>
                        <span>
                            @if (delivery.IsPaid)
                            {
                                <i class="bi bi-check-circle-fill" style="color: #00aa87;"></i>
                            }
                        </span>
                    </div>
                    <div class="delivery-metrics">
                        <p><b>Packs:</b> @delivery.TotalItems</p>
                        <p><b>Weight:</b> @delivery.TotalWeight</p>
                        <p><b>Volume:</b> @delivery.TotalVolume</p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="no-found">No deliveries found matching the search criteria.</p>
    }
</div>

@section Scripts {
    <script src="~/js/flatpicker.js"></script>
    <script src="~/js/cardHover.js"></script>
}

<style>

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .form-group {
        flex: 1 1 33%;
        margin-bottom: 10px;
    }

        .form-group:last-child {
            margin-right: 0;
        }


    input[type="text"],
    input[type="date"] {
        width: 70%;
        border: none;
        border-bottom: 1px solid grey;
        padding: 8px 0;
        margin-bottom: 15px;
    }


    .button-group {
        display: flex;
        margin-top: 105px;
        flex-direction: row;
        margin-bottom: 30px;
        gap: 7px;
    }


    .delivery-header {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 30px;
        font-weight: bold;
        font-size: 0.90rem;
        width: 95%;
    }

    .delivery-card {
        background-color: white;
        font-size: 0.80rem;
        display: flex;
        flex-direction: column;
        transition: background-color 0.3s ease;
        position: relative;
        overflow: hidden;
    }

        .delivery-card:nth-child(even) {
            background-color: #F5F5F7;
        }

    .delivery-metrics {
        display: none;
        margin-top: 10px;
        background-color: #f1f8ff;
        width: 100%;
        transition: background-color 0.3s ease;
    }

        .delivery-metrics p {
            margin-left: 210px;
        }


    .address {
        width: 130px;
        flex-wrap: wrap;
    }

    .checkboxes {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 33%;
    }
</style>
