@model LogiTrack.Core.ViewModels.FuelPrice.FuelPricesStatisticsViewModel
@{
    ViewData["Title"] = "Fuel Prices Statistics";
    Layout = "~/Views/Shared/_SpeditorLayout.cshtml";
}
<div class="chart-container">
    <div class="cards-container">
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Today(@Model.Today)</h3>
                <p><b>@Model.TodayPrice BGN</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Average price</h3>
                <p><b>@Model.AveragePrice BGN</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Max / min price</h3>
                <p><b>@Model.MaxPrice / @Model.MinPrice BGN</b></p>
            </div>
        </div>
    </div>

    <div class="first-row">
        <div class="chart-container">
            <h4>Fuel prices max to todays ratio</h4>
            <canvas style="margin-left: 150px;" id="fuelPriceBarChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <h4>Fuel prices last month</h4>
            <canvas id="fuelPriceCurrentMonthChart" class="chart"></canvas>
        </div>
    </div>
    <div class="first-row">
        <div class="chart-container">
            <h4>Fuel prices from this year</h4>
            <canvas style="margin-left: 50px;" id="fuelPriceChart" class="chart"></canvas>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


@section Scripts {
    <script src="~/js/fuelPricesStatistics.js"></script>
}



