@model LogiTrack.Core.ViewModels.Request.PendingRequestDetailsViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfA3_DsCdEYZeSpUwLBSenw1Gyp1VGIp4"></script>
    <script src="~/js/site.js"></script>
    <style>
        .delivery-details-container {
            width: 100%;
        }

        .details-card {
            box-shadow: 0 0 25px 1px #0000000f !important;
            padding: 17px;
            background-color: white;
        }

        .details-header {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }

        .delivery-image {
            width: 50px;
            height: auto;
            margin-left: 10px;
            margin-right: 10px;
        }

        h4 {
            margin: 10px 0;
            font-size: 20px;
            color: #00aa87;
            font-weight: 500;
        }

        .columns-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }

        .column {
            display: flex;
            flex-direction: column;
        }

            .column p {
                font-size: 14px;
                color: black;
                opacity: 80%;
            }

        p {
            font-size: 14px;
            color: black;
            opacity: 80%;
        }

        .divider-line {
            height: 1px;
            background-color: #e0e0e0;
            margin: 10px 0;
        }


        .maps-container {
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }

        .map {
            width: 90%;
            height: 200px;
            background-color: #e0e0e0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h4 {
            font-size: 20px;
            color: #00aa87;
            font-weight: 500;
        }        

        .metrics-header {
            display: flex;
            flex-direction: row;
            gap: 300px;
            margin-bottom: 20px;
        }

        .metrics {
            margin-top: 50px;
        }

        .standart-metrics-header-row {
            display: flex;
            flex-direction: row;
            margin-left: 40px;
            justify-content: space-between;
            width: 90%;
        }

        .standart-metrics-info-row {
            display: flex;
            flex-direction: row;
            background-color: #fbfbfb;
            margin-left: 40px;
            gap: 100px;
            white-space: nowrap;
            font-weight: 300;
            font-size: 14px;
            opacity: 80%;
            justify-content: space-between;
            width: 90%;
        }

        .non-standart-metrics-header-row {
            display: flex;
            flex-direction: row;
            margin-left: 40px;
            justify-content: space-between;
            width: 90%;
        }

        .non-standart-metrics-info-row {
            display: flex;
            flex-direction: row;
            background-color: #fbfbfb;
            margin-left: 40px;
            gap: 100px;
            font-weight: 300;
            font-size: 14px;
            opacity: 80%;
            justify-content: space-between;
            width: 90%;
        }

        .more-header-row {
            display: flex;
            flex-direction: row;
            margin-left: 40px;
            gap: 50px;
        }

        .more-info-row {
            display: flex;
            flex-direction: row;
            background-color: #fbfbfb;
            margin-left: 40px;
            gap: 100px;
            font-weight: 300;
            font-size: 14px;
            opacity: 80%;
        }

        .table-header-row {
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            justify-content: space-between;
            width: 90%;
        }

        .table-info-row {
            display: flex;
            flex-direction: row;
            background-color: #fbfbfb;
            margin-left: 30px;
            justify-content: space-between;
            white-space: nowrap;
            font-weight: 300;
            font-size: 14px;
            opacity: 80%;
            width: 95%;
        }

        

        label {
            display: block;
            font-size: 13px;
            margin-bottom: 5px;
            font-weight: 200;
        }

        input[type="text"],
        input[type="date"] {
            width: 100%;
            border: none;
            border-bottom: 1.4px solid grey;
            padding: 8px 0;
            margin-bottom: 15px;
        }


        .text-rating {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }       

        .legend-item {
            margin-right: 10px;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        .green {
            background-color: green;
        }

        .yellow {
            background-color: yellow;
        }

        .blue {
            background-color: crimson;
        }

        .purple {
            background-color: purple;
        }

        .orange {
            background-color: orange;
        }

        .lightgreen {
            background-color: lightgreen;
        }

        .lightblue {
            background-color: #00aa87;
        }

        .available-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;            
        }

        .legend{
            display: flex;
            flex-direction: column;
            gap: 2px;
            float:right;
        }
    </style>

</head>

<body>
    <header class="header">
        <div class="logo-name">
            <div class="company-logo">
                <img src="https://via.placeholder.com/50" alt="Company Logo">
            </div>
            <div class="company-name">LogiTrack</div>
        </div>
        <div class="profile-dropdown">
            <button onclick="toggleDropdown()">
                <i class="bi bi-person-circle"></i>
                <span class="arrow">&#x25BC;</span>
            </button>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <a asp-action="CompanyDetails" asp-controller="Clients">Company details</a>
                <a asp-action="ContactDetails" asp-controller="Clients">Contact details</a>
                <a asp-action="Logout" asp-controller="Home">Logout</a>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <ul>
            <li>
                <a asp-action="Dashboard" asp-controller="Logistics">
                    <i class="bi bi-house-door"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-people"></i> Clients <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="GetPendingRegistrations" asp-controller="Logistics"><i class="bi bi-person-plus"></i> New registrations</a></li>
                        <li><a asp-action="ClientsRegister" asp-controller="Logistics"><i class="bi bi-journal-text"></i> Clients register</a></li>
                        <li><a asp-action="SearchCompany" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="ClientsStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart-line"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="VehiclesRegister" asp-controller="Logistics">
                    <i class="bi bi-truck"></i> Vehicles <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchVehicle" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="VehiclesRegister" asp-controller="Logistics"><i class="bi bi-list-task"></i> Vehicles Register</a></li>
                        <li><a asp-action="VehicleStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="DriversRegister" asp-controller="Logistics">
                    <i class="bi bi-person-badge"></i> Drivers <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchDriver" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="DriversRegister" asp-controller="Logistics"><i class="bi bi-people-fill"></i> Drivers Register</a></li>
                        <li><a asp-action="DriverStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart-line"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="RequestsRegister" asp-controller="Logistics">
                    <i class="bi bi-card-list"></i> Requests <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchRequest" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="RequestsRegister" asp-controller="Logistics"><i class="bi bi-journal"></i> Requests Register</a></li>
                        <li><a asp-action="RequestsStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="OffersRegister" asp-controller="Logistics">
                    <i class="bi bi-file-earmark-text"></i> Offers <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchOffer" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="OffersRegister" asp-controller="Logistics"><i class="bi bi-journal-text"></i> Offers Register</a></li>
                        <li><a asp-action="OfferStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="DeliveriesRegister" asp-controller="Logistics">
                    <i class="bi bi-box-seam"></i> Deliveries <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchDelivery" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="DeliveriesRegister" asp-controller="Logistics"><i class="bi bi-journal"></i> Deliveries Register</a></li>
                        <li><a asp-action="DeliveryStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="InvoicesRegister" asp-controller="Logistics">
                    <i class="bi bi-receipt"></i> Invoices register <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="InvoicesRegister" asp-controller="Logistics"><i class="bi bi-journal"></i> Invoices Register</a></li>
                        <li><a asp-action="InvoicesStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart-line"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="SearchCashRegisters" asp-controller="Logistics">
                    <i class="bi bi-cash-stack"></i> Cash registers <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchCashRegisters" asp-controller="Logistics"><i class="bi bi-journal"></i> Cash Register</a></li>
                        <li><a asp-action="CashRegisterStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart-line"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>
    <div class="main-content">
        <div class="delivery-details-container">
            <div class="details-card">
                <div class="details-header">
                    <div class="delivery-image">
                        <i class="fas fa-shipping-fast" style="font-size: 40px; color: #00aa87;"></i>
                    </div>
                    <h3><b>@Model.ReferenceNumber</b></h3>
                </div>

                <div class="button-tabs">
                    <button class="tab-button" id="infoBtn">INFO</button>
                    <button class="tab-button" id="addressesBtn">ADDRESSES</button>
                    <button class="tab-button" id="metricsBtn">METRICS</button>
                    <button class="tab-button" id="driverBtn">DRIVERS</button>
                    <button class="tab-button" id="vehicleBtn">VEHICLES</button>

                </div>

                <div id="infoSection" class="section">
                    
                    <div class="column">
                        <h4><b>General information</b></h4>
                        <p><strong>Created on:</strong> @Model.CreatedOn</p>
                        <p><strong>Expected delivery date:</strong> @Model.ExpectedDeliveryDate</p>
                    </div>
                    <div class="divider-line"></div>
                    <div class="column">
                        <h4><b>Given price</b></h4>
                        <p><strong>Approximate price given:</strong> @Model.ApproximatePrice BGN</p>
                    </div>
                    <div class="divider-line"></div>
                    <div class="column">
                        <h4><b>Client information</b></h4>
                        <p><strong>Company Name:</strong> @Model.ClientCompanyName</p>
                        <p><strong>Address:</strong> @Model.ClientAddress</p>
                        <p><strong>Phone:</strong> @Model.ClientPhone</p>
                        <p><strong>Email:</strong> @Model.ClientEmail</p>
                        <a asp-action="ClientDetails" asp-controller="Speditor" asp-route-id="@Model.ClientId" style="color:#00aa87;">See client</a>
                    </div>
                </div>

                <div id="addressesSection" class="section d-none">
                    <div class="columns-container">
                        <div class="column">
                            <h4><b>Pickup Address</b></h4>
                            <p><strong>Street:</strong> @Model.PickupStreet</p>
                            <p><strong>City:</strong> @Model.PickupCity</p>
                            <p><strong>Country:</strong> @Model.PickupCountry</p>
                            <p><strong>Latitude:</strong> @Model.PickupLatitude</p>
                            <p><strong>Longitude:</strong> @Model.PickupLongitude</p>
                            @*<div id="pickupMap"
                            class="map"
                            data-latitude="@Model.PickupLatitude"
                            data-longitude="@Model.PickupLongitude"></div>
                            <p id="pickupAddress">Fetching address...</p>*@
                        </div>

                        <div class="column">
                            <h4><b>Delivery Address</b></h4>
                            <p><strong>Street:</strong> @Model.DeliveryStreet</p>
                            <p><strong>City:</strong> @Model.DeliveryCity</p>
                            <p><strong>Country:</strong> @Model.DeliveryCountry</p>
                            <p><strong>Latitude:</strong> @Model.DeliveryLatitude</p>
                            <p><strong>Longitude:</strong> @Model.DeliveryLongitude</p>
                            @*<div id="deliveryMap"
                            class="map"
                            data-latitude="@Model.DeliveryLatitude"
                            data-longitude="@Model.DeliveryLongitude"></div>
                            <p id="deliveryAddress">Fetching address...</p>*@
                        </div>
                    </div>
                </div>

                <div id="metricsSection" class="section  d-none">
                    <div class="metrics-header">
                        <div class="metrics-header-row">
                            <h4><b>Type of goods</b></h4>
                            <p>@Model.TypeOfGoods</p>
                        </div>
                    </div>
                    <div class="special-instructions">
                        <h4><b>Special instructions</b></h4>
                        <p>@Model.SpecialInstructions</p>
                    </div>
                    @if (Model.NumberOfPallets != "0")
                    {
                        <div class="metrics">
                            <h4><b>Standard metrics(pallets)</b></h4>
                        </div>
                        <div class="standart-metrics-header-row">
                            <p><b>Number</b></p>
                            <p><b>Length</b></p>
                            <p><b>Width</b></p>
                            <p><b>Height</b></p>
                            <p><b>Weight</b></p>
                            <p><b>Stackable</b></p>
                        </div>
                        <div class="standart-metrics-info-row">
                            <p>@Model.NumberOfPallets</p>
                            <p>@Model.PalletLength cm</p>
                            <p>@Model.PalletWidth cm</p>
                            <p>@Model.PalletHeight cm</p>
                            <p>@Model.WeightOfPallets kg</p>
                            <p>@Model.PalletsAreStackable</p>
                        </div>
                    }

                    @foreach (var item in Model.NonStandardCargos)
                    {
                        <div class="metrics">
                            <h4><b>Non-standart metrics</b></h4>
                        </div>
                        <div class="non-standart-metrics-header-row">
                            <p><b>Length</b></p>
                            <p><b>Width</b></p>
                            <p><b>Height</b></p>
                            <p><b>Weight</b></p>
                            <p><b>Description</b></p>
                        </div>
                        <div class="non-standart-metrics-info-row">
                            <p>@item.Length cm</p>
                            <p>@item.Width cm</p>
                            <p>@item.Height cm</p>
                            <p>@item.Weight cm</p>
                            <p>@item.Description cm</p>
                        </div>
                    }
                    <div class="metrics">
                        <h4><b>More info</b></h4>
                    </div>
                    <div class="more-header-row">
                        <p><b>Refrigerated</b></p>
                        <p><b>Shared</b></p>
                    </div>
                    <div class="more-info-row">
                        <p>@Model.IsRefrigerated</p>
                        <p>@Model.SharedTruck</p>
                    </div>
                </div>

                <div id="driversSection" class="section d-none">
                    <div class="title-legend" style="display:flex; justify-content:space-between; width: 70%; flex-direction:row;">
                        <h4><b>Available drivers</b></h4>
                        <div class="legend">
                            <h4><b>Legend</b></h4>
                            <p style="margin:0;"><span class="legend-item yellow"></span> License expiring soon</p>
                            <p style="margin:0;"><span class="legend-item blue"></span> Experienced</p>
                            <p style="margin:0;"><span class="legend-item purple"></span> Nearby</p>
                            <p style="margin:0;"><span class="legend-item lightgreen"></span> Low workload</p>
                            <p style="margin:0;"><span class="legend-item lightblue"></span> Fit</p>
                        </div>
                    </div>
                    
                    @foreach (var driver in Model.PossibleDrivers)
                    {
                        <div style="border: 1px solid #00aa87; border-radius: 2px; background-color: #fff; padding: 20px; margin-bottom: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                            <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                                <div style="flex: 1; min-width: 250px;">
                                    <h4 style=" margin-bottom: 10px; ">Info</h4>
                                    <p style="margin: 5px 0; margin-top:10px;"><strong>Name:</strong> @driver.DriverName</p>
                                    <p style="margin: 5px 0; margin-top:10px;"><strong>Age:</strong> @driver.Age</p>
                                    <p style="margin: 5px 0; margin-top:10px;"><strong>Phone:</strong> @driver.DriverPhoneNumber</p>
                                    <a asp-action="DriverDetails" asp-controller="Speditor" asp-route-id="@driver.Id" style="text-decoration:underline; color:#00aa87">See driver</a>
                                </div>
                                <div style="flex: 1; min-width: 250px;">
                                    <h4 style=" margin-bottom: 10px;">Delivery statistics</h4>
                                    <p style="margin: 5px 0; margin-top:10px;"><strong>Domestic(this year):</strong>  @driver.DomesticsDeliveriesThisYearCount</p>
                                    <p style="margin: 5px 0; margin-top:10px;"><strong>International(this year):</strong> @driver.InternationalDeliveriesThisYearCount </p>
                                    <p style="margin: 5px 0; margin-top:10px;"><strong>Kilometers(this year):</strong> @driver.KilometersDriven </p>

                                    @if (driver.CurrentlyDelivering)
                                    {
                                        <p style="margin: 5px 0; margin-top:10px;"><strong>Currently deliverying:</strong> Yes</p>

                                    }
                                    else
                                    {
                                        <p style="margin: 5px 0; margin-top:10px;"><strong>Currently deliverying:</strong> No</p>

                                    }
                                    <p style="margin: 5px 0; margin-top:10px;"><strong>Reserved for:</strong> @driver.ReservedDeliveriesCount</p>
                                    <p style="margin: 5px 0; margin-top:10px;"><strong>Success rate:</strong> @driver.SuccessRate%</p>
                                </div>
                                <div style="flex: 1; min-width: 250px;">
                                    <h4 style="margin-bottom: 10px;">Legend</h4>
                                    <ul style="list-style: none; padding: 0; margin: 0;">
                                        @if (driver.Experienced)
                                        {
                                            <li style="margin: 5px 0;"><span class="legend-item blue"></span> </li>
                                        }
                                        @if (driver.LicenseExpiringSoon)
                                        {
                                            <li style="margin: 5px 0;"><span class="legend-item yellow"></span> </li>
                                        }
                                        @if (driver.Nearby)
                                        {
                                            <li style="margin: 5px 0;"><span class="legend-item purple"></span> </li>
                                        }
                                        @if (driver.LowWorkload)
                                        {
                                            <li style="margin: 5px 0;"><span class="legend-item lightgreen"></span> </li>
                                        }
                                        @if (driver.Fit)
                                        {
                                            <li style="margin: 5px 0;"><span class="legend-item lightblue"></span> </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div id="vehicleSection" class="section d-none">
                    <h4><b>Available vehicles</b></h4>
                    <p><strong>Legend</strong></p>
                    <ul>
                        <li><span class="legend-item lightblue"></span> Optimal</li>
                        <li><span class="legend-item yellow"></span>Cheapest</li>
                        <li><span class="legend-item blue"></span> Economical</li>
                        <li><span class="legend-item purple"></span> Ecological</li>
                        <li><span class="legend-item lightgreen"></span> Maintenance soon</li>
                    </ul>
                    @if(Model.RequiredVehicleCount == 1)
                    {
                        @foreach (var driver in Model.PossibleVehicles)
                        {
                            <div class="available-row">
                                <div class="column">
                                    <h4><b>General details</b></h4>
                                    <p><strong>Registration No:</strong> @driver.RegistrationNumber</p>
                                    <p><strong>Type:</strong> @driver.VehicleType</p>
                                    <p><strong>Fuel consumption per 100 km:</strong> @driver.FuelConsumptionPer100km</p>
                                    <p><strong>Type:</strong> @driver.EmissionFactor</p>
                                    <p><strong>Metrics:</strong> @driver.Length cm X @driver.Weight cm X @driver.Height cm @driver.Weight kg max</p>
                                </div>
                                <div class="column">
                                    <h4><b>Statistics</b></h4>
                                    <p><strong>Deliveries(this year):</strong> @driver.DeliveriesThisYearCount</p>
                                    <p><strong>Reserved for deliveries:</strong> @driver.ReservedDeliveriesCount</p>
                                    <p><strong>Currently on delivery:</strong> @driver.CurrentlyDelivering</p>
                                </div>
                                <div class="column">
                                    <h4><b>Optimal legend</b></h4>
                                    <ul>
                                        @if (driver.MostOptimal)
                                        {
                                            <li><span class="legend-item blue"></span> </li>
                                        }
                                        @if (driver.Cheapest)
                                        {
                                            <li><span class="legend-item yellow"></span></li>
                                        }
                                        @if (driver.MostEconomical)
                                        {
                                            <li><span class="legend-item purple"></span> </li>
                                        }
                                        @if (driver.MostEcological)
                                        {
                                            <li><span class="legend-item lightgreen"></span></li>
                                        }
                                        @if (driver.ClosestToMaintenance)
                                        {
                                            <li><span class="legend-item lightblue"></span></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @foreach (var vehicle in Model.NeededVehiclePairs)
                        {                        
                            <div class="available-row" style="display:flex; flex-direction: row; justify-content:space-between;">
                                <div class="vehicle-column" style="display:flex; flex-direction:column">
                                <div class="vehicle-row">
                                <div class="column">
                                    <h4><b>Vehicle 1</b></h4>
                                    <h4><b>General details</b></h4>
                                    <p><strong>Registration No:</strong> @vehicle.Primary.RegistrationNumber</p>
                                    <p><strong>Type:</strong> @vehicle.Primary.VehicleType</p>
                                    <p><strong>Fuel consumption per 100 km:</strong> @vehicle.Primary.FuelConsumptionPer100km</p>
                                    <p><strong>Type:</strong> @vehicle.Primary.EmissionFactor</p>
                                    <p><strong>Metrics:</strong> @vehicle.Primary.Length cm X @vehicle.Primary.Weight cm X @vehicle.Primary.Height cm @vehicle.Primary.Weight kg max</p>
                                </div>
                                <div class="column">
                                    <h4><b>Statistics</b></h4>
                                    <p><strong>Deliveries(this year):</strong> @vehicle.Primary.DeliveriesThisYearCount</p>
                                    <p><strong>Reserved for deliveries:</strong> @vehicle.Primary.ReservedDeliveriesCount</p>
                                    <p><strong>Currently on delivery:</strong> @vehicle.Primary.CurrentlyDelivering</p>
                                </div>
                                </div>
                                <div class="vehicle-row">
                                    <div class="column">
                                        <h4><b>Vehicle 2</b></h4>
                                        <h4><b>General details</b></h4>
                                        <p><strong>Registration No:</strong> @vehicle.Seconary.RegistrationNumber</p>
                                        <p><strong>Type:</strong> @vehicle.Seconary.VehicleType</p>
                                        <p><strong>Fuel consumption per 100 km:</strong> @vehicle.Seconary.FuelConsumptionPer100km</p>
                                        <p><strong>Type:</strong> @vehicle.Seconary.EmissionFactor</p>
                                        <p><strong>Metrics:</strong> @vehicle.Seconary.Length cm X @vehicle.Seconary.Weight cm X @vehicle.Seconary.Height cm @vehicle.Seconary.Weight kg max</p>
                                    </div>
                                    <div class="column">
                                        <h4><b>Statistics</b></h4>
                                        <p><strong>Deliveries(this year):</strong> @vehicle.Seconary.DeliveriesThisYearCount</p>
                                        <p><strong>Reserved for deliveries:</strong> @vehicle.Seconary.ReservedDeliveriesCount</p>
                                        <p><strong>Currently on delivery:</strong> @vehicle.Seconary.CurrentlyDelivering</p>
                                    </div>
                                </div>
                                </div>
                                <div class="column">
                                    <h4><b>Optimal legend</b></h4>
                                    <ul>
                                        @if (vehicle.Legend.MostOptimal)
                                        {
                                            <li><span class="legend-item blue"></span> </li>
                                        }
                                        @if (vehicle.Legend.Cheapest)
                                        {
                                            <li><span class="legend-item yellow"></span></li>
                                        }
                                        @if (vehicle.Legend.MostEconomical)
                                        {
                                            <li><span class="legend-item purple"></span> </li>
                                        }
                                        @if (vehicle.Legend.MostEcological)
                                        {
                                            <li><span class="legend-item lightgreen"></span></li>
                                        }
                                        @if (vehicle.Legend.ClosestToMaintenance)
                                        {
                                            <li><span class="legend-item lightblue"></span></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#infoBtn').click(function () {
                showSection('#infoSection');
            });
            $('#addressesBtn').click(function () {
                showSection('#addressesSection');
                initPickupMap();
                initDeliveryMap();
            });
            $('#metricsBtn').click(function () {
                showSection('#metricsSection');
            });
            $('#statusBtn').click(function () {
                showSection('#statusSection');
            });
            $('#invoicesBtn').click(function () {
                showSection('#invoicesSection');
            });
            $('#carbonBtn').click(function () {
                showSection('#carbonSection');
            });
            $('#driverBtn').click(function () {
                showSection('#driversSection');
            });
            $('#vehicleBtn').click(function () {
                showSection('#vehicleSection');
            });
            function showSection(sectionId) {
                $('.section').addClass('d-none');
                $(sectionId).removeClass('d-none');
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    @section Scripts {
        <script src="~/js/map.js"></script>
    }
</body>
</html>


