@model LogiTrack.Core.ViewModels.Request.AllPendingRequestsViewModel
@{
    ViewData["Title"] = "Pending Requests";
    Layout = "~/Views/Shared/_SpeditorLayout.cshtml";
}


<div class="container mt-5">
    <div class="search-header">
        <div class="search-icon">
            <i class="bi bi-search" style="font-size: 35px; color:#00aa87;"></i>
        </div>
        <h2 class="quick-search-title">Quick pending requests search</h2>
    </div>
    <p class="search-description">Please enter your search criteria</p>

    <form asp-action="PendingRequests" asp-controller="Speditor" method="get" class="search-form">
        <div class="row">
            <div class="form-group">
                <label asp-for="PickupAddress"><b>Origin</b></label>
                <input type="text" id="PickupAddress" asp-for="PickupAddress" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAddress"><b>Destination</b></label>
                <input type="text" id="DeliveryAddress" asp-for="DeliveryAddress" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="StartDate"><b>Start</b></label>
                <input type="text" id="StartDate" asp-for="StartDate" class="flatpickr" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="EndDate"><b>End</b></label>
                <input type="text" id="EndDate" asp-for="EndDate" class="flatpickr" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="MinVolume"><b>Min volume</b></label>
                <input type="text" id="EndDate" asp-for="MinVolume" class="flatpickr" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="MaxVolume"><b>Max volume</b></label>
                <input type="text" id="EndDate" asp-for="MaxVolume" class="flatpickr" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="MinWeight"><b>Min weight</b></label>
                <input type="text" id="EndDate" asp-for="MinWeight" class="flatpickr" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="MaxWeight"><b>Max weight</b></label>
                <input type="text" id="EndDate" asp-for="MaxWeight" class="flatpickr" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="SharedTruck"><b>Shared truck</b></label>
                <input asp-for="SharedTruck" placeholder="Please select" type="checkbox" class="form-control" />
            </div>
        </div>
        <div class="button-group">
            <button type="submit" class="btn"><b>GO</b></button>
            <a asp-action="AllPendingRequestsViewModel" asp-action="Speditor" type="reset" class="btn-clear"><b>CLEAR</b></a>
        </div>
    </form>
</div>

<div class="filtered-deliveries-container">
    @if (Model.Requests.Any())
    {
        <div class="delivery-list">
            @foreach (var request in Model.Requests)
            {
                <div class="details-card">
                    <div class="details-header">
                        <div class="delivery-image">
                            <i class="fas fa-paper-plane" style="color:#00aa87; font-size:30px; margin-left:10px;"></i>
                        </div>
                        <h3><b>@request.ReferenceNumber</b></h3>
                        @*if(request.SharedTruck == true && request.PairRequestNumber != null && request.GivenOffer == false)
						{
                            <h3 style="margin-left: 30px;"><b>Pair request with: @request.PairRequestNumber</b></h3>
						}*@
                    </div>
                    <div class="card-contents">
                        <div class="request-details-column">
                            <div class="header-image-div">
                                <div class="header-image">
                                    <i class="bi bi-info-circle" style="font-size: 2rem; color: #00aa87; margin-right: 10px;"></i>
                                </div>
                                <h5><b>Details</b></h5>
                            </div>
                            <div class="title-details">
                                <h5 class="title">Expected delivery date</h5>
                                <p>@request.ExpectedDeliveryDate</p>
                            </div>
                            <div class="title-details">
                                <h5 class="title">Special instructions:</h5>
                                <p>@request.SpecialInstructions</p>
                            </div>
                            <div class="adress-details">
                                <div class="dot-line">
                                    <img src="~/dashboard_books_dots.svg" alt="Road" class="road-icon">                                <div class="adress-div">
                                        <div class="title-details">
                                            <h5 class="title">Origin</h5>
                                            <p class="address">@request.PickupAddress</p>
                                        </div>
                                        <div class="title-details">
                                            <h5 class="title">Destination</h5>
                                            <p class="address">@request.DeliveryAddress</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="request-details-column">
                            <div class="header-image-div">
                                <div class="header-image">
                                    <i class="bi bi-clipboard-data" style="font-size: 2rem; color: #00aa87; "></i>
                                </div>
                                <h5><b>Metrics</b></h5>
                            </div>
                            <div class="title-details">
                                <h5 class="title">Pack</h5>
                                @if (request.PalletsCount != string.Empty)
                                {
                                    <p>@request.PalletsCount X @request.CargoType</p>
                                    <p>@request.PalletsLength cm X @request.PalletsWidth cm X @request.PalletsHeight cm</p>
                                }
                                else
                                {
                                    <p>@request.NumberOfNonStandartGoods</p>
                                    foreach (var item in request.NonStandardCargo)
                                    {
                                        <p>@item.Length cm X @item.Width cm X @item.Height cm</p>
                                    }
                                }
                            </div>
                            <div class="common-metrics">
                            <div class="title-details">
                                <h5 class="title">Weight</h5>
                                <p>@request.TotalWeight kg</p>
                            </div>
                            <div class="title-details">
                                <h5 class="title">Volume</h5>
                                <p>@request.TotalVolume m3</p>
                            </div>
                            </div>
                            <div class="common-metrics">
                                <div class="title-details">
                                    <h5 class="title">Refrigerated:</h5>
                                    @if (request.IsRefrigerated)
                                    {
                                        <i class="bi bi-check-circle-fill" style="color: #00aa87; margin-right: 10px;"></i>
                                    }
                                    else
                                    {
                                        <p style="color: #00aa87;">No</p>
                                    }
                                </div>
                                <div class="title-details">
                                    <h5 class="title">Shared truck:</h5>
                                    @if (request.SharedTruck)
                                    {
                                        <i class="bi bi-check-circle-fill" style="color: #00aa87;"></i>
                                    }
                                    else
                                    {
                                        <p style="color: #00aa87;">No</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="request-details-column">
                            <div class="header-image-div">
                                <div class="header-image">
                                    <i class="bi bi-journal-text" style="font-size: 2rem; color: #00aa87; margin-right: 10px;"></i>
                                </div>
                                <h5><b>More info</b></h5>
                            </div>
                            <div class="title-details">
                                <h5 class="title">Client:</h5>
                                <p>@request.CompanyName</p>
                            </div>
                            <div class="title-details">
                                <h5 class="title">Created on:</h5>
                                <p>@request.CreatedAt</p>
                            </div>

                            <div class="title-details" style="margin-bottom:20px;">
                                <h5 class="title">Given price:</h5>
                                <p>@request.ApproximatePrice BGN</p>
                            </div>

                            <a asp-action="PendingRequestDetails" asp-controller="Speditor" asp-route-id="@request.Id" class="btn-clear" style="margin-top:10px;"><i class="bi bi-eye" style="color:#00aa87;"></i> SEE</a>
                        </div>
                        @if (request.GivenOffer)
                        {
                            <div class="request-details-column">
                                <div class="header-image-div">
                                    <div class="header-image">
                                        <i class="bi bi-file-earmark-bar-graph" style="font-size: 2rem; color: #00aa87; margin-right: 10px;"></i>
                                    </div>
                                    <h5><b>Offer</b></h5>
                                </div>
                                <div class="title-details">
                                    <h5 class="title">Offer No:</h5>
                                    <p>@request.OfferNumber</p>
                                </div>
                                <div class="title-details">
                                    <h5 class="title">Created on:</h5>
                                    <p>@request.OfferDate</p>
                                </div>

                                <div class="title-details" style="margin-bottom:20px;">
                                    <h5 class="title">Final price:</h5>
                                    <p>@request.FinalPrice BGN</p>
                                </div>

                                <a asp-action="OfferDetails" asp-controller="Speditor" asp-route-id="@request.OfferId" class="btn-clear" style="margin-top:10px;">See offer</a>
                            </div>
                        }
                    </div>
                </div>

            }
        </div>
    }
    else
    {
        <p class="no-found">No requests found matching the search criteria.</p>
    }
</div>

@section Scripts {
    <script src="~/js/flatpicker.js"></script>
}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .form-group {
        flex: 1 1 33%;
        margin-bottom: 10px;
    }

        .form-group:last-child {
            margin-right: 0;
        }

    input[type="text"],
    input[type="date"] {
        width: 70%;
        border: none;
        border-bottom: 1px solid grey;
        padding: 8px 0;
        margin-bottom: 15px;
    }

    .button-group {
        display: flex;
        margin-top: 105px;
        flex-direction: row;
        margin-bottom: 30px;
        gap: 7px;
    }

    .address {
        width: 150px;
        flex-wrap: wrap;
    }

    .details-card {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 25px 1px #0000000f !important;
        background-color: white;
        height: 370px;
    }

    .details-header {
        display: flex;
        align-items: center;
    }

    .delivery-image {
        width: 50px;
        height: auto;
    }

    .card-contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 50px;
    }

    .request-details-column {
        width: 30%;
    }

        .request-details-column p {
            color: darkslategrey;
            font-size: 0.9rem;
            margin:2px;
        }

    .header-image-div {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        color: #00aa87;
        font-size: 1.1rem;
    }

    .image-div {
        width: 30px;
        margin-right: 10px;
    }

    .road-icon {
        width: 20px;
        margin-right: 10px;
    }


    .dot-line {
        display: flex;
    }

    .adress-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 120px;
    }

    .common-metrics {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .title-details i {
        margin-left: 30px;
    }

    .title {
        margin: 0;
    }

    .title-details {
        margin-bottom: 10px;
    }
</style>

