@model LogiTrack.Core.ViewModels.CashRegister.CashRegisterStatisticsViewModel
@{
    ViewData["Title"] = "Cash Register Statistics";
    Layout = "~/Views/Shared/_LogisticsLayout.cshtml";
}
<div class="chart-container">
    <div class="cards-container">
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Total cash registers</h3>
                <p><b>@Model.TotalCashRegisters</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Total aditional costs</h3>
                <p><b>@Model.TotalAdditionalCosts BGN</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Deliveries with additional costs</h3>
                <p><b>@Model.DeliveriesWithAdditionalCosts</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Delivery with additional costs ratio</h3>
                <p><b>@Model.DeliveriesWithAdditionalCostsRatio / @Model.DeliveriesWithAdditionalCosts</b></p>
            </div>
        </div>
    </div>

    <div class="first-row">
        <div class="chart-container">
            <h4>Cash register types</h4>
            <canvas style="margin-left: 150px;" id="cashRegisterChart" class="chart"></canvas>
        </div>
        <div class="delay-time-container">
            <h4>Additional costs for delivery</h4>
            <canvas id="additionalCostChart" class="chart"></canvas>
        </div>
    </div>
    <div class="first-row">
        <div class="chart-container">
            <h4>Additional costs for deliveries by destination type</h4>
            <canvas style="margin-left: 50px;" id="totalCostChart" class="chart"></canvas>
        </div>

        <div class="chart-container">
            <h4>Correlation between distance and additional costs</h4>
            <canvas style="margin-left: 100px;" id="distanceCostScatter" class="chart"></canvas>
        </div>
    </div>
    <div class="chart-container">
        <h4>Top 10 deliveries with additional costs</h4>
        <canvas style="margin-left:310px; max-width: 300px;" id="top10DeliveriesBarChart" class="chart"></canvas>
    </div>

</div>


@section Scripts {
    <script src="~/js/cashRegisterStatistics.js"></script>
}



