@model LogiTrack.Core.ViewModels.Delivery.DeliveryStatisticsForLogisticsViewModel
@{
    ViewData["Title"] = "Delivery Statistics";
    Layout = "~/Views/Shared/_LogisticsLayout.cshtml";
}
<div class="chart-container">
    <div class="cards-container">
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Deliveries</h3>
                <p><b>@Model.TotalDeliveries</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Undelivered</h3>
                <p><b>@Model.UndeliveredDeliveries</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Kilometers</h3>
                <p><b>@Model.KiloMetersDriven KM</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>CO2 emissions</h3>
                <p><b>@Model.CO2Emissions M3</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Profit/Loss</h3>
                <p><b>@Model.Profit BGN/@Model.Loss BGN</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Average distance</h3>
                <p><b>@Model.AverageDeliveryDistance KM</b></p>
            </div>
        </div>
    </div>

    <div class="first-row">
        <div class="chart-container">
            <h4>Delivery types ratio</h4>
            <canvas id="deliveryChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <h4>Deliveries made on time</h4>
            <div class="delay">
                <canvas id="successRateChart" class="chart"></canvas>
                <p style="color: #00aa87; width: 100px;" id="averageDelay" class="stat-text"></p>
            </div>
        </div>
    </div>
    <div class="first-row">
        <div class="chart-container">
            <h4>Last year deliveries</h4>
            <canvas id="monthlyDeliveryChart" class="chart" style="width: 300px;"></canvas>
        </div>
        <div class="chart-container">
            <h4>Most popular delivery destinations</h4>
            <canvas id="popularCitiesChart" class="chart"></canvas>
        </div>
    </div>
    <div class="chart-container">
        <h4>Delivery ratings</h4>
        <canvas id="deliveryRatingsChart" class="chart" style="max-width: 400px;"></canvas>
    </div>

</div>

@section Scripts {
    <script src="~/js/deliveryStatistics.js"></script>
}




