@model List<LogiTrack.Core.ViewModels.Clients.PendingRegistrationsViewModel>
@{
    ViewData["Title"] = "Add Cash Register";
    Layout = "~/Views/Shared/_LogisticsLayout.cshtml";
}

<div class="search-container">
    <div class="search-header">
        <div class="card-icon">
            <i class="bi bi-person-plus " style="font-size: 40px; color:#00aa87;"></i>

        </div>
        <h3 class="search-title"><b>Pending Registration</b></h3>
    </div>
    @foreach (var item in Model)
    {
        <div class="registration">
            <div class="photo-header">
                <div class="user-photo">
                    <i class="bi bi-person-circle " style="font-size: 40px; margin-left: 20px;"></i>
                </div>
                <div class="photo-info">
                    <h3>@item.Name</h3>
                    <p><b>Registration number:</b> @item.RegistrationNumber</p>
                </div>
            </div>
            <div class="info">
                <p><b>Email:</b> @item.Email</p>
                <p><b>Phone:</b> @item.PhoneNumber</p>
                <p><b>Created At:</b> @item.CreatedAt</p>
            </div>
            <div class="btn-div">
                <a asp-action="NewCompanyDetails" asp-controller="Logistics" asp-route-id="@item.Id" class="btn">
                    <i class="bi bi-eye"></i> SEE
                </a>
            </div>
        </div>
    }
</div>
<style>
    .search-container {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 25px 1px #0000000f !important;
    }

    .search-header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .search-icon {
        width: 40px;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .search-title {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .registration {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-direction: row;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }

    .photo-header {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .photo-info {
        margin-bottom: 10px;
    }

    .user-photo {
        width: 100px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .btn-div {
        margin-top: 45px;
    }
</style>
