@model List<LogiTrack.Core.ViewModels.Clients.PendingRegistrationsViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="~/js/site.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .search-delivery {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .search-header {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
           border-bottom: 1px solid #ccc;
        }

        .search-icon {
            width: 40px;
            margin-right: 10px;
            margin-bottom: 30px;
        }

        .search-title {
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 40px;
        }

        .registration{
            display:flex;
justify-content:space-between;
margin-bottom:20px;
flex-direction : row;
            border-bottom: 1px solid #ccc;
            width: 90%;
        }

        .photo-header{
			display:flex;
			align-items:center;
            flex-direction: row;
		}

        .photo-info{
            margin-bottom: 10px;
        }

        .user-photo{
			width:100px;
			margin-right:20px;
            margin-bottom: 10px;
		}

        .btn-div{
            margin-top:45px;
        }
        .btn {
            text-decoration: none;
            background-color: #00aa87;
            width: 110px;
            height: 35px;
            color: white;
            border: none;
            border-radius: 3px;
            padding: 10px 15px;
            cursor: pointer;
            margin-left: 10px;
            box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
        }

            .btn:hover {
                opacity: 0.9;
            }

    </style>

</head>

<body>
    <header class="header">
        <div class="logo-name">
            <div class="company-logo">
                <img src="https://via.placeholder.com/50" alt="Company Logo">
            </div>
            <div class="company-name">LogiTrack</div>
        </div>
        <div class="profile-dropdown">
            <button onclick="toggleDropdown()">
                <i class="bi bi-person-circle"></i>
                <span class="arrow">&#x25BC;</span>
            </button>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <a asp-action="CompanyDetails" asp-controller="Logistics">Company details</a>

                <a asp-action="Logout" asp-controller="Home">Logout</a>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <ul>
            <li><a asp-action="Dashboard" asp-controller="Logistics"><i class="bi bi-house-door"></i> Dashboard</a></li>
            <li>
                <a href="#"><i class="bi bi-money"></i> Clients <span class="arrow">></span></a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="GetPendingRegistrations" asp-controller="Logistics">New regsitration</a></li>
                        <li><a asp-action="ClientsRegister" asp-controller="Logistics">Clients Register</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="VehiclesRegister" asp-controller="Logistics"><i class="bi bi-money"></i> Vehicles register </a>
            </li>
            <li>
                <a asp-action="DriversRegister" asp-controller="Logistics"><i class="bi bi-money"></i> Drivers register </a>

            </li>
            <li>
                <a asp-action="MyDeliveries" asp-controller="Clients"><i class="bi bi-money"></i> Deliveries <span class="arrow">></span></a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchDelivery" asp-controller="Clients">Track</a></li>
                        <li><a asp-action="MyDeliveries" asp-controller="Clients">Search</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="MyInvoices" asp-controller="Clients"><i class="bi bi-money"></i> Invoices <span class="arrow">></span></a>
            </li>
        </ul>
    </aside>
    <div class="main-content">
        <div class="search-delivery">
            <div class="search-header">
                <img src="https://via.placeholder.com/40" alt="Search Icon" class="search-icon">
                <h2 class="search-title"><b>Pending Registration</b></h2>
            </div>
            @foreach (var item in Model)
            {
                <div class="registration">
                    <div class="photo-header">
                        <img src="https://via.placeholder.com/100" alt="User Photo" class="user-photo">
                        <div class="photo-info">
                        <h3>@item.Name</h3>
                        <p><b>Registration number:</b>@item.RegistrationNumber</p>
                        </div>
                    </div>
                    <div class="info">
                        <p><b>Email:</b> @item.Email</p>
                        <p><b>Phone:</b> @item.PhoneNumber</p>
                        <p><b>CreatedAt:</b> @item.CreatedAt</p>
                    </div>
                    <div class="btn-div">
                        <a asp-action="NewCompanyDetails" asp-controller="Logistics" asp-route-id="@item.Id" class="btn">SEE  </a>
                    </div>
                </div>
            }
        </div>
    </div>

</body>

</html>