@model LogiTrack.Core.ViewModels.Clients.NewCompanyDetailsForLogisticsViewModel
@{
    ViewData["Title"] = "New Company Details";
    Layout = "~/Views/Shared/_LogisticsLayout.cshtml";
}
<div class="license-container">
    <div class="title-button">
        <div class="license-title" style="margin-top:7px;">New company details</div>
        <div class="btns">
            <a asp-action="RejectPendingRegistration" class="btn-clear" asp-controller="Logistics" asp-route-id="@Model.Id">REJECT</a>
            <a asp-action="ApprovePendingRegistration" class="btn" asp-controller="Logistics" asp-route-id="@Model.Id">APPROVE</a>
        </div>
    </div>
    <div class="divider-line"></div>
    <div class="details-info">
        <div class="general-details">General Information</div>
        <div class="license-row">
            <span><b>Name</b></span>
            <span>@Model.Name</span>
        </div>
        <div class="license-row">
            <span><b>Registration number</b></span>
            <span>@Model.RegistrationNumber</span>
        </div>
        <div class="license-row">
            <span><b>Industry</b></span>
            <span>@Model.Industry</span>
        </div>
        <div class="divider-line"></div>
        <div class="general-details">Address</div>
        <div class="license-row">
            <span><b>City</b></span>
            <span>@Model.City, @Model.PostalCode</span>
        </div>
        <div class="license-row">
            <span><b>Country</b></span>
            <span>@Model.Country</span>
        </div>
        <div class="license-row">
            <span><b>Street</b></span>
            <span>@Model.Street</span>
        </div>
    </div>
    <div class="divider-line"></div>
    <div class="details-info">
        <div class="general-details">Contact Information</div>
        <div class="license-row">
            <span><b>Email</b></span>
            <span>@Model.Email</span>
        </div>
        <div class="license-row">
            <span><b>Contact person</b></span>
            <span>@Model.ContactPerson</span>
        </div>
        <div class="license-row">
            <span><b>Phone number</b></span>
            <span>@Model.PhoneNumber</span>
        </div>
        <div class="license-row">
            <span><b>Alternative phone number</b></span>
            <span>@Model.AlternativePhoneNumber</span>
        </div>
    </div>
</div>
<style>
    .license-container {
        width: 800px;
        background-color: #ffffff;
        box-shadow: 0 0 25px 1px #0000000f !important;
        display: block;
    }

    .license-title {
        font-size: 23px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
        padding: 20px;
    }

    .divider-line {
        height: 1px;
        background-color: #e0e0e0;
        margin: 10px 0;
    }

    .general-details {
        font-size: 18px;
        color: #00aa87;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .license-row {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #333;
        padding: 10px 0;
        margin-left: 10px;
    }

        .license-row span {
            color: black;
            font-size: 15px;
            flex: 1;
        }

            .license-row span:first-child {
                width: 150px;
                font-weight: bold;
            }

    .details-info {
        padding: 20px;
    }

    .title-button {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        flex-direction: row;
        width: 90%;
    }

    .btns {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 10px;
    }

    .btn {
        background-color: #00aa87;
        height: 15px;
        text-decoration: none;
        margin-top: 15px;
        color: white;
        border: none;
        border-radius: 3px;
        padding: 10px 10px;
        width: 90px;
        text-align: center;
        cursor: pointer;
        margin-left: 10px;
        box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
    }

        .btn:hover {
            opacity: 0.9;
        }

    .btn-clear {
        width: 80px;
        text-align: center;
        height: 15px;
        text-decoration: none;
        background-color: white;
        color: #00aa87;
        border: 1px solid #00aa87;
        border-radius: 3px;
        padding: 10px 15px;
        cursor: pointer;
        margin-left: 10px;
        margin-top: 15px;
        box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
    }

        .btn-clear:hover {
            opacity: 0.8;
        }
</style>


