@model LogiTrack.Core.ViewModels.Request.RequestsDetailsForLogisticsViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="~/js/site.js"></script>
    <style>
        .details-container {
            width: 85%;
        }

        .details-card {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 25px 1px #0000000f !important;
            padding: 17px;
            background-color: white;
        }

        .details-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .delivery-image {
            width: 50px;
            height: auto;
        }

        .card-contents {
            display: flex;
            flex-direction: row;
            padding: 10px;
            justify-content: space-between;
            align-items: flex-start;
            margin-left: 50px;
        }

        .request-details-column {
            width: 30%;
            margin-bottom: 20px;
        }

            .request-details-column p {
                color: darkslategrey;
                font-size: 0.9rem;
            }

        .header-image-div {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            color: #00aa87;
            font-size: 1.2rem;
        }

        .image-div {
            width: 40px;
            margin-right: 10px;
        }

        .road-icon {
            width: 20px;
            margin-right: 10px;
            height: 200px;
        }


        .dot-line {
            display: flex;
            align-items: center;
        }

        .adress-div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 120px;
        }

        .common-metrics {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        .title-details i {
            margin-left: 30px;
        }

        .title {
            margin: 0;
        }

        .title-details {
            margin-bottom: 10px;
        }

        .address {
            width: 180px;
        }

    </style>

</head>

<body>
    <header class="header">
        <div class="logo-name">
            <div class="company-logo">
                <img src="https://via.placeholder.com/50" alt="Company Logo">
            </div>
            <div class="company-name">LogiTrack</div>
        </div>
        <div class="profile-dropdown">
            <button onclick="toggleDropdown()">
                <i class="bi bi-person-circle"></i>
                <span class="arrow">&#x25BC;</span>
            </button>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <a asp-action="CompanyDetails" asp-controller="Clients">Company details</a>
                <a asp-action="ContactDetails" asp-controller="Clients">Contact details</a>
                <a asp-action="Logout" asp-controller="Home">Logout</a>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <ul>
            <li>
                <a asp-action="Dashboard" asp-controller="Logistics">
                    <i class="bi bi-house-door"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-people"></i> Clients <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="GetPendingRegistrations" asp-controller="Logistics"><i class="bi bi-person-plus"></i> New registrations</a></li>
                        <li><a asp-action="ClientsRegister" asp-controller="Logistics"><i class="bi bi-journal-text"></i> Clients register</a></li>
                        <li><a asp-action="SearchCompany" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="ClientsStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart-line"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="VehiclesRegister" asp-controller="Logistics">
                    <i class="bi bi-truck"></i> Vehicles <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchVehicle" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="VehiclesRegister" asp-controller="Logistics"><i class="bi bi-list-task"></i> Vehicles Register</a></li>
                        <li><a asp-action="VehicleStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="DriversRegister" asp-controller="Logistics">
                    <i class="bi bi-person-badge"></i> Drivers <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchDriver" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="DriversRegister" asp-controller="Logistics"><i class="bi bi-people-fill"></i> Drivers Register</a></li>
                        <li><a asp-action="DriverStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart-line"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="RequestsRegister" asp-controller="Logistics">
                    <i class="bi bi-card-list"></i> Requests <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchRequest" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="RequestsRegister" asp-controller="Logistics"><i class="bi bi-journal"></i> Requests Register</a></li>
                        <li><a asp-action="RequestsStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="OffersRegister" asp-controller="Logistics">
                    <i class="bi bi-file-earmark-text"></i> Offers <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchOffer" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="OffersRegister" asp-controller="Logistics"><i class="bi bi-journal-text"></i> Offers Register</a></li>
                        <li><a asp-action="OfferStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="DeliveriesRegister" asp-controller="Logistics">
                    <i class="bi bi-box-seam"></i> Deliveries <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchDelivery" asp-controller="Logistics"><i class="bi bi-search"></i> Search</a></li>
                        <li><a asp-action="DeliveriesRegister" asp-controller="Logistics"><i class="bi bi-journal"></i> Deliveries Register</a></li>
                        <li><a asp-action="DeliveryStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="InvoicesRegister" asp-controller="Logistics">
                    <i class="bi bi-receipt"></i> Invoices register <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="InvoicesRegister" asp-controller="Logistics"><i class="bi bi-journal"></i> Invoices Register</a></li>
                        <li><a asp-action="InvoicesStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart-line"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="SearchCashRegisters" asp-controller="Logistics">
                    <i class="bi bi-cash-stack"></i> Cash registers <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchCashRegisters" asp-controller="Logistics"><i class="bi bi-journal"></i> Cash Register</a></li>
                        <li><a asp-action="CashRegisterStatistics" asp-controller="Logistics"><i class="bi bi-bar-chart-line"></i> Statistics</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>
    <div class="main-content">
        <div class="details-container">
            <div class="details-card">
                <div class="details-header">
                    <div class="delivery-image">
                        <i class="fas fa-paper-plane" style="color:#00aa87; font-size:30px;"></i>
                    </div>
                    <h3><b>@Model.ReferenceNumber</b></h3>
                </div>
                <div class="card-contents">
                    <div class="request-details-column">
                        <div class="header-image-div">
                            <div class="header-image">
                                <i class="bi bi-info-circle" style="font-size: 2rem; color: #00aa87; margin-right: 10px;"></i>
                            </div>
                            <h5><b>Details</b></h5>
                        </div>
                        <div class="title-details">
                            <h5 class="title">Expected delivery date</h5>
                            <p>@Model.ExpectedDeliveryDate</p>
                        </div>
                        <div class="title-details">
                            <h5 class="title">Special instructions:</h5>
                            <p>@Model.SpecialInstructions</p>
                        </div>
                        <div class="adress-details">
                            <div class="dot-line">
                                <img src="~/dashboard_books_dots.svg" alt="Road" class="road-icon">                                <div class="adress-div">
                                    <div class="title-details">
                                        <h5 class="title">Origin</h5>
                                        <p class="address">@Model.PickupAddress</p>
                                    </div>
                                    <div class="title-details">
                                        <h5 class="title">Destination</h5>
                                        <p class="address">@Model.DeliveryAddress</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="request-details-column">
                        <div class="header-image-div">
                            <div class="header-image">
                                <i class="bi bi-clipboard-data" style="font-size: 2rem; color: #00aa87; "></i>
                            </div>
                            <h5><b>Metrics</b></h5>
                        </div>
                        <div class="title-details">
                            <h5 class="title">Pack</h5>
                            @if (Model.PalletsCount != string.Empty)
                            {
                                <p>@Model.PalletsCount X @Model.CargoType</p>
                                <p>@Model.PalletsLength cm X @Model.PalletsWidth cm X @Model.PalletsHeight cm</p>
                            }
                            else
                            {
                                <p>@Model.NumberOfNonStandartGoods</p>
                                foreach (var item in Model.NonStandardCargo)
                                {
                                    <p>@item.Length cm X @item.Width cm X @item.Height cm</p>
                                }
                            }
                        </div>
                        <div class="title-details">
                            <h5 class="title">Weight</h5>
                            <p>@Model.TotalWeight kg</p>
                        </div>
                        <div class="title-details">
                            <h5 class="title">Volume</h5>
                            <p>@Model.TotalVolume m3</p>
                        </div>
                        <div class="common-metrics">
                            <div class="title-details">
                                <h5 class="title">Refrigerated:</h5>
                                @if (Model.IsRefrigerated)
                                {
                                    <i class="bi bi-check-circle-fill" style="color: #00aa87; margin-right: 10px;"></i>
                                }
                                else
                                {
                                    <p style="color: #00aa87;">No</p>
                                }
                            </div>
                            <div class="title-details">
                                <h5 class="title">Shared truck:</h5>
                                @if (Model.SharedTruck)
                                {
                                    <i class="bi bi-check-circle-fill" style="color: #00aa87;"></i>
                                }
                                else
                                {
                                    <p style="color: #00aa87;">No</p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="request-details-column">
                        <div class="header-image-div">
                            <div class="header-image">
                                <i class="bi bi-journal-text" style="font-size: 2rem; color: #00aa87; margin-right: 10px;"></i>
                            </div>
                            <h5><b>More info</b></h5>
                        </div>
                        <div class="title-details">
                            <h5 class="title">Created on:</h5>
                            <p>@Model.CreatedAt</p>
                        </div>

                        <div class="title-details">
                            <h5 class="title">Given price:</h5>
                            <p>@Model.ApproximatePrice BGN</p>
                        </div>
                        <div class="title-details">
                            <h5 class="title">Status:</h5>
                            <p>@Model.Status</p>
                            @if (Model.Status == "Approved")
                            {
                                <a asp-action="OfferDetails" asp-controller="Logistics" asp-route-id="@Model.OfferId" style="color:#00aa87;" class="btn btn-clear">See offer</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
