@model LogiTrack.Core.ViewModels.CashRegister.FilterCashRegistersViewModel
@{
    ViewData["Title"] = "Add Cash Register";
    Layout = "~/Views/Shared/_LogisticsLayout.cshtml";
}


<div class="container mt-5">
    <div class="search-header">
        <div class="search-icon">
            <i class="bi bi-search" style="font-size: 35px; color:#00aa87;"></i>
        </div>
        <h2 class="quick-search-title">Quick cash registers search</h2>
    </div>
    <p class="search-description">Please enter your search criteria</p>

    <form asp-action="SearchCashRegisters" asp-controller="Logistics" method="get" class="search-form">
        <div class="row">
            <div class="form-group">
                <label asp-for="DeliveryReferenceNumber"><b>Ref No</b></label>
                <input type="text" id="ReferenceNumber" asp-for="DeliveryReferenceNumber" placeholder="Please enter">
                <span asp-validation-for="DeliveryReferenceNumber"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName"><b>Client</b></label>
                <input type="text" id="CompanyName" asp-for="CompanyName" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="StartDate"><b>Start</b></label>
                <input type="date" id="StartDate" asp-for="StartDate" class="flatpickr" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="EndDate"><b>End</b></label>
                <input type="date" id="EndDate" class="flatpickr" asp-for="EndDate" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="MinPrice"><b>Min amount</b></label>
                <input type="text" id="EndDate" asp-for="MinPrice" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="MaxPrice"><b>Max amount</b></label>
                <input type="text" id="EndDate" asp-for="MaxPrice" placeholder="Please enter">
            </div>
            <div class="form-group">
                <label asp-for="Type"><b>Type</b></label>
                <input asp-for="Type" placeholder="Please enter or select" list="typeOptions" class="form-control" />
                <datalist id="typeOptions">
                    <option value="Vehicle"></option>
                    <option value="Driver"></option>
                    <option value="Other"></option>
                </datalist>
            </div>
        </div>

        <div class="button-group">
            <div class="button-group">
                <button type="submit" class="btn"><b>GO</b></button>
                <a asp-action="SearchCashRegisters" asp-action="Logistics" type="reset" class=" btn-clear"><b>CLEAR</b></a>
            </div>
        </div>
    </form>
</div>

<div class="filtered-items-container">
    <form asp-action="SearchCashRegisters" asp-controller="Logistics" method="get" class="quick-search-form">
        <div class="form-group">
            <input type="text" id="keyword" asp-for="SearchTerm" placeholder="Enter keyword">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </div>
    </form>
    <div class="item-header">
        <span>Date</span>
        <span>Delivery Ref No</span>
        <span>Type</span>
        <span>Description</span>
        <span>Amount</span>
        <span>File</span>
    </div>
    @if (Model.CashRegisters.Any())
    {
        @foreach (var cashRegister in Model.CashRegisters)
        {
            <div class="item-card">
                <div class="item-info">
                    <span>@cashRegister.DateSubmitted</span>
                    <a asp-action="DeliveryDetails" asp-controller="Logistics" asp-route-id="@cashRegister.DeliveryId" class="ref-num">
                        <span>@cashRegister.DeliveryReferenceNumber</span>
                    </a>
                    <span>@cashRegister.Type</span>
                    <span class="description">@cashRegister.Description</span>
                    <span>@cashRegister.Amount BGN</span>
                    <span>
                        <a href="@cashRegister.FileUrl" target="_blank" class="file-icon" title="View or Download File">
                            <i class="fas fa-file-download"></i> See
                        </a>
                    </span>
                </div>
            </div>
        }

    }
    else
    {
        <p class="no-found">No cash registers found matching the search criteria.</p>
    }
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr(".flatpickr", {
            dateFormat: "Y-m-d",
        });
    });
</script>
<style>
    .container {
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 25px 1px #0000000f !important;
        width: 96.5%;
    }

    

    .search-form {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .form-group {
        flex: 1 1 33%;
        margin-bottom: 10px;
    }

        .form-group:last-child {
            margin-right: 0;
        }


    input[type="text"],
    input[type="date"] {
        width: 80%;
        border: none;
        border-bottom: 1px solid grey;
        padding: 8px 0;
        margin-bottom: 15px;
    }

        
    .button-group {
        display: flex;
        margin-top: 45px;
        flex-direction: row;
        margin-bottom: 30px;
        gap: 7px;
    }


    .filtered-items-container {
        background-color: #ffff;
        margin-top: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .ref-num {
        text-decoration: none;
        color: black;
        text-rendering: optimizelegibility;
        font-size: 0.80rem;
    }

    .quick-search-form {
        padding-top: 20px;
        margin-left: 20px;
    }

        .quick-search-form .form-group {
            width: 55%;
        }

    .item-header {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 30px;
        font-weight: bold;
        font-size: 0.90rem;
        width: 90%;
    }

    .item-card {
        background-color: white;
        font-size: 0.80rem;
        display: flex;
        flex-direction: column;
        transition: background-color 0.3s ease;
        position: relative;
        overflow: hidden;
    }

        .item-card:nth-child(even) {
            background-color: #F5F5F7;
        }

    .item-info {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
        margin-top: 28px;
        margin-left: 30px;
        height: 5px;
    }
   
    .no-found {
        padding: 15px;
        color: #00aa87;
        text-align: center;
    }
</style>
