@model LogiTrack.Core.ViewModels.Accountant.AccountantDashboardViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="~/js/site.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .cards-container {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        .card {
            display: flex;
            align-items: center;
            background-color: white;
            box-shadow: 0 0 25px 1px #0000000f !important;
            width: calc((100% - 40px) / 3);
            padding: 10px;
            height: 90px;
        }

        .card-icon {
            width: 60px;
            height: 60px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
        }

            .card-icon img {
                width: 50px;
                height: auto;
            }

        .card-content {
            flex-grow: 1;
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .card h3 {
            margin: 0;
            font-size: 1rem;
            color: #404040;
        }

        .card p {
            margin: 0;
            font-size: 1.12rem;
            color: #404040;
        }

        .card-button {
            background-color: #1e87f0;
            padding: 3px 7px;
            color: white;
            border: none;
            border-radius: 20px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            font-size: 0.75rem;
            margin-bottom: 14px;
            font-weight: 200;
        }

            .card-button:hover {
                background-color: #167ac4;
            }

        .card-button-info {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            margin-right: 5px;
        }

            .card-button-info p {
                font-size: 0.85rem;
                margin-top: 48px;
                opacity: 0.5;
            }

        .diagrams {
            display: flex;
            gap: 20px;
        }

        .diagram {
            background-color: white;
            padding: 15px;
            box-shadow: 0 0 25px 1px #0000000f !important;
            flex: 1;
            height: 420px;
        }

        .diagram-header {
            display: flex;
            gap: 30px;
            align-items: center;
        }

            .diagram-header h3 {
                font-size: 1.1rem;
                color: #00aa87;
                letter-spacing: revert;
            }

        .due-amount {
            margin-left: 50px;
            font-size: 0.9rem;
            color: #00aa87;
        }

        .see-all {
            text-decoration: underline;
            color: #707070;
            font-size: 14px;
        }

        .delivery {
            display: flex;
            gap: 100px;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .delivery-info {
            display: flex;
            align-items: center;
            font-size: 0.85rem;
        }

            .delivery-info p {
                margin: 0;
            }

            .delivery-info .ref-number {
                font-weight: bold;
            }

        .addresses {
            margin-left: 10px;
            font-size: 14px;
        }

        .client-company {
            font-size: 14px;
        }

        .road-icon {
            width: 35px;
            height: 35px;
            margin: 0 10px;
        }

        .pickup-address,
        .delivery-address {
            margin: 0;
        }

        .ref-num {
            text-decoration: none;
            color: black;
            text-rendering: optimizelegibility;
        }

        .diagram-button {
            display: block;
            color: #00aa87;
            border: 1px solid #00aa87;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 50px;
            text-align: center;
            font-size: 0.8rem;
            width: 90%;
            text-decoration: none;
        }

        .paid-button {
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: default;
            font-size: 0.85rem;
        }

        .invoice-header {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 60px;
            font-size: 0.85rem;
            white-space: nowrap;
            margin-left: 30px;
        }

        .invoice {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 80px;
            font-size: 0.85rem;
            white-space: nowrap;
            margin-left: 10px;
        }

        .paid-button {
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: default;
            font-size: 0.85rem;
        }
    </style>

</head>

<body>
    <header class="header">
        <div class="logo-name">
            <div class="company-logo">
                <img src="https://via.placeholder.com/50" alt="Company Logo">
            </div>
            <div class="company-name">LogiTrack</div>
        </div>
        <div class="profile-dropdown">
            <button onclick="toggleDropdown()">
                <i class="bi bi-person-circle"></i>
                <span class="arrow">&#x25BC;</span>
            </button>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <a asp-action="Logout" asp-controller="Home">Logout</a>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <ul>
            <li><a asp-action="Dashboard" asp-controller="Accountant"><i class="bi bi-house-door"></i> Dashboard</a></li>
            <li>
                <a asp-action="SearchDeliveries" asp-controller="Accountant"><i class="bi bi-truck"></i> Deliveries</a>
            </li>
            <li>
                <a asp-action="SearchCashRegisters" asp-controller="Accountant"><i class="bi bi-money"></i> Cash registers <span class="arrow">></span></a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchDelivery" asp-controller="Accountant">New</a></li>
                        <li><a asp-action="SearchCashRegisters" asp-controller="Accountant">Search</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="SearchInvoices" asp-controller="Accountant"><i class="bi bi-money"></i> Invoices</a>
            </li>
        </ul>
    </aside>
    <div class="main-content">
        <div class="cards-container">
            <div class="card" id="locationCard">
                <div class="card-icon">
                    <img src="https://via.placeholder.com/50" alt="Location Icon">
                </div>
                <div class="card-content">
                    <h3>NEW DELIVERIES</h3>
                    <p>@Model.NewFinishedDeliveriesFromLastWeek</p>
                </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <img src="https://via.placeholder.com/50" alt="Icon 1">
                </div>
                <div class="card-content">
                    <h3>UNPAID DELIVERIES</h3>
                    <p>@Model.NotPaidDeliveriesCount</p>
                </div>
                <div class="card-button-info">
                    <a asp-action="SearchInvoices" asp-controller="Accountant" class="card-button">See all</a>
                </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <img src="https://via.placeholder.com/50" alt="Icon 2">
                </div>
                <div class="card-content">
                    <h3>INVOICES</h3>
                    <p>@Model.InvoicesCount</p>
                </div>
                <div class="card-button-info">
                    <p>@Model.InvoicesCountFromLastMonth last month</p>
                </div>
            </div>
        </div>
        <div class="diagrams">
            <div class="diagram">
                <div class="diagram-header">
                    <h3>Deliveries</h3>
                    <a asp-action="NewDeliveries" asp-controller="Accountant" class="see-all">See All</a>
                </div>
                @foreach (var item in Model.Last5NewDeliveries)
                {
                    <div class="delivery">
                        <div class="delivery-info">
                            <a asp-action="DeliveryDetails" asp-controller="Driver" asp-route-id="@item.Id" class="ref-num">@item.ReferenceNumber</a>
                            <img src="~/dashboard_books_dots.svg" alt="Road" class="road-icon">
                            <div class="addresses">
                                <p class="pickup-address">@item.PickupAddress</p>
                                <p class="delivery-address">@item.DeliveryAddress</p>
                            </div>
                        </div>
                        <p class="client-company">@item.ClientCompanyName</p>
                        <button class="paid-button" style="display:@(item.IsPaid == true ? "inline-block" : "none")">Paid</button>
                    </div>
                }
            </div>

            <div class="diagram">
                <div class="diagram-header">
                    <h3>Invoices</h3>
                    <a asp-action="Invoices" asp-controller="Accountant" class="see-all">See All</a>
                    <h4 class="due-amount">Due amount:</h4>
                    <p style="font-size:0.9rem;">@Model.DueAmountForDeliveries</p>
                </div>
                <div class="invoice-header">
                    <p><b>Invoice No</b></p>
                    <p><b>Current Date</b></p>
                    <p><b>Creation Date</b></p>
                    <p><b>Amount</b></p>
                </div>
                @foreach (var invoice in Model.Last5NotPaidInvoices)
                {
                    <div class="invoice">
                        <p>@invoice.InvoiceNumber</p>
                        <p>@invoice.Date</p>
                        <p>@invoice.CreationDate</p>
                        <p>@invoice.Amount</p>
                    </div>
                }
            </div>
        </div>
    </div>
    </div>


</body>

</html>
