@model LogiTrack.Core.ViewModels.Accountant.AccountantDashboardViewModel
@{
    ViewData["Title"] = "Accountant dashboard";
    Layout = "~/Views/Shared/_AccountantLayout.cshtml";
}


<div class="cards-container">
    <div class="card" id="locationCard">
        <div class="card-icon">
            <i class="bi bi-truck" style="font-size: 50px; color: #00aa87;"></i>
        </div>
        <div class="card-content">
            <h3>NEW DELIVERIES</h3>
            <p>@Model.NewFinishedDeliveriesFromLastWeek</p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-x-circle" style="font-size: 50px; color: #00aa87;"></i>
        </div>
        <div class="card-content">
            <h3>UNPAID DELIVERIES</h3>
            <p>@Model.NotPaidDeliveriesCount</p>
        </div>
        <div class="card-button-info">
            <a asp-action="SearchDeliveries" asp-controller="Accountant" class="card-button"><b>SEE</b></a>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-receipt" style="font-size: 50px; color: #00aa87;"></i>
        </div>
        <div class="card-content">
            <h3>INVOICES</h3>
            <p>@Model.InvoicesCount</p>
        </div>
        <div class="card-button-info">
            <p>@Model.InvoicesCountFromLastMonth last month</p>
        </div>
    </div>
</div>
<div class="diagrams">
    <div class="diagram">
        <div class="diagram-header">
            <h3>Deliveries</h3>
            <a asp-action="SearchDeliveries" asp-controller="Accountant" class="see-all">See all</a>
        </div>
        <div class="invoice-header">
            <p><b>Ref No</b></p>
            <p><b>Addresses</b></p>
            <p><b>Client</b></p>
            <p><b>Paid</b></p>
        </div>
        @foreach (var item in Model.Last5NewDeliveries)
        {
            <div class="delivery">
                <div class="delivery-info">
                    <a asp-action="DeliveryDetails" asp-controller="Accountant" asp-route-id="@item.Id" style="text-decoration:none; color:black;" class="ref-num">@item.ReferenceNumber</a>
                    <img src="~/dashboard_books_dots.svg" alt="Road" class="road-icon">
                    <div class="addresses">
                        <p class="pickup-address">@item.PickupAddress</p>
                        <p class="delivery-address">@item.DeliveryAddress</p>
                    </div>
                </div>
                <p class="client-company">@item.ClientCompanyName</p>
                <i class="bi bi-check-circle-fill" style="color: #00aa87;"></i>
            </div>
        }
    </div>

    <div class="diagram">
        <div class="diagram-header">
            <h3>Invoices</h3>
            <a asp-action="SearchInvoices" asp-controller="Accountant" class="see-all">See All</a>
            <h4 class="due-amount" style="color: #00aa87; margin: 0;">Due amount:</h4>
            <p style="font-size:0.9rem; color: #707070;">@Model.DueAmountForDeliveries BGN</p>
        </div>
        <div class="invoice-header">
            <p><b>Invoice No</b></p>
            <p><b>Current Date</b></p>
            <p><b>Invoice Date</b></p>
            <p><b>Amount</b></p>
        </div>
        @foreach (var invoice in Model.Last5NotPaidInvoices)
        {
            <div class="invoice">
                <p>@invoice.InvoiceNumber</p>
                <p>@invoice.Date</p>
                <p>@invoice.CreationDate</p>
                <p>@invoice.Amount BGN</p>
            </div>
        }
    </div>
</div>

<style>
    .delivery {
        display: flex;
        gap: 70px;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 15px;
        width: 89%;
    }

    .delivery-info {
        display: flex;
        align-items: center;
        font-size: 0.85rem;
    }

        .delivery-info p {
            margin: 0;
        }

    .addresses {
        font-size: 14px;
    }

    .client-company {
        font-size: 14px;
    }

    .road-icon {
        width: 35px;
        height: 35px;
        margin: 0 10px;
    }

    .pickup-address,
    .delivery-address {
        margin: 0;
    }
</style>
