@model LogiTrack.Core.ViewModels.Invoice.MarkAsPaidInvoiceViewModel
@{
    ViewData["Title"] = "Mark Invoice As Paid";
    Layout = "~/Views/Shared/_AccountantLayout.cshtml";
}

<div class="confirmation-container">
    <h3>Confirm payment for delivery Ref No: @Model.DeliveryReferenceNumber</h3>
    <p class="confirmation-message">
        Do you want to mark invoice No: <strong>@Model.InvoiceNumber</strong> for client:
        <strong>'@Model.ClientName'</strong> (reg. No: <strong>@Model.ClientRegistrationNumber</strong>)
        issued on <strong>@Model.InvoiceDate</strong> with amount <strong>@Model.Amount BGN</strong> as paid?
    </p>

    <div class="confirmation-buttons">
        <form asp-action="MarkAsPaidSuccessful" asp-controller="Accountant" asp-route-id="@Model.InvoiceId" method="post">

            <button type="submit" class="btn"><b>CONFIRM</b></button>
        </form>
        <a asp-action="DeliveryDetails" asp-controller="Accountant" asp-route-id="@Model.DeliveryId" class="btn-clear"><b>CANCEL</b></a>
    </div>
</div>

