@model LogiTrack.Core.ViewModels.Invoice.MarkAsPaidInvoiceViewModel
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="~/js/site.js"></script>
    <style>       
        .confirmation-container {
            width: 900px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 25px 1px #0000000f !important;
            text-align: center;
        }
        .confirmation-container h2{
            color: #00aa87;
font-size: 1.5rem;
margin-bottom: 50px;
        }

        .confirmation-message {
            font-size: 1.1rem;
            margin-bottom: 20px;
            width: 45%;
            margin-left: 250px;
        }

        .confirmation-buttons {
            display: flex;
            gap: 20px;
            justify-content: center;
            margin-top: 60px;
        }

        .btn {
            background-color: #00aa87;
            width: 110px;
            height: 35px;
            color: white;
            border: none;
            border-radius: 3px;
            padding: 10px 15px;
            cursor: pointer;
            margin-left: 10px;
            box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
        }

            .btn:hover {
                opacity: 0.9;
            }

        .btn-clear {
            width: 80px;
            text-align: center;
            height: 15px;
            text-decoration: none;
            background-color: white;
            color: #00aa87;
            border: 1px solid #00aa87;
            border-radius: 3px;
            padding: 10px 15px;
            cursor: pointer;
            margin-left: 10px;
            font-size: 13px;
        }

            .btn-clear:hover {
                opacity: 0.8;
            }
    </style>

</head>

<body>
    <header class="header">
        <div class="logo-name">
            <div class="company-logo">
                <img src="https://via.placeholder.com/50" alt="Company Logo">
            </div>
            <div class="company-name">LogiTrack</div>
        </div>
        <div class="profile-dropdown">
            <button onclick="toggleDropdown()">
                <i class="bi bi-person-circle"></i>
                <span class="arrow">&#x25BC;</span> 
            </button>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <a asp-action="Logout" asp-controller="Home">Logout</a>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <ul>
            <li><a asp-action="Dashboard" asp-controller="Accountant"><i class="bi bi-house-door"></i> Dashboard</a></li>
            <li>
                <a asp-action="SearchDeliveries" asp-controller="Accountant"><i class="bi bi-truck"></i> Deliveries</a>
            </li>
            <li>
                <a asp-action="SearchCashRegisters" asp-controller="Accountant"><i class="bi bi-money"></i> Cash registers <span class="arrow">></span></a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchDelivery" asp-controller="Accountant">New</a></li>
                        <li><a asp-action="SearchCashRegisters" asp-controller="Accountant">Search</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="SearchInvoices" asp-controller="Accountant"><i class="bi bi-money"></i> Invoices</a>
            </li>
        </ul>
    </aside>
    <div class="main-content">
        <div class="confirmation-container">
            <h2>Confirm payment for delivery</h2>
            <p class="confirmation-message">
                Do you want to mark invoice with No: <strong>@Model.InvoiceNumber</strong> for client:
                <strong>'@Model.ClientName'</strong> (Reg. No: <strong>@Model.ClientRegistrationNumber</strong>)
                issued on <strong>@Model.InvoiceDate</strong> with amount <strong>@Model.Amount</strong> as paid?
            </p>

            <div class="confirmation-buttons">
                <form asp-action="MarkAsPaidSuccessful" asp-controller="Accountant" asp-route-id="@Model.InvoiceId" method="post">
                    
                    <button type="submit" class="btn">CONFIRM</button>
                </form>
                <a asp-action="DeliveryDetails" asp-controller="Accountant" asp-route-id="@Model.DeliveryId" class="btn-clear">CANCEL</a>
            </div>
        </div>
    </div>

</body>

</html>
