@model LogiTrack.Core.ViewModels.Accountant.SearchInvoicesViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Deliveries</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="~/js/site.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .container {
            background-color: white;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 96.5%;
            margin: auto;
        }

        .quick-search-header {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .search-icon {
            margin-right: 10px;
        }

        .quick-search-title {
            font-size: 22px;
            color: #00aa87;
            margin-bottom: 15px;
            margin: 0;
        }

        .search-description {
            margin-bottom: 20px;
            font-size: 13px;
            color: grey;
        }

        .search-form {
            display: flex;
            gap: 20px;
            flex-direction: row;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 15px;
        }

        .form-group {
            flex: 1 1 33%;
            margin-bottom: 10px;
        }

            .form-group:last-child {
                margin-right: 0;
            }

        label {
            display: block;
            font-size: 13px;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="date"] {
            width: 70%;
            border: none;
            border-bottom: 1px solid grey;
            padding: 8px 0;
            margin-bottom: 15px;
        }

            input[type="text"]:focus,
            input[type="date"]:focus {
                outline: none;
                border-bottom-color: #00aa87;
            }

        .button-group {
            display: flex;
            margin-top: 105px;
            flex-direction: row;
            margin-bottom: 30px;
            gap: 7px;
        }

        .btn {
            background-color: #00aa87;
            width: 110px;
            height: 35px;
            color: white;
            border: none;
            border-radius: 3px;
            padding: 10px 15px;
            cursor: pointer;
            margin-left: 10px;
            box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
        }

            .btn:hover {
                opacity: 0.9;
            }

        .btn-clear {
            width: 80px;
            text-align: center;
            height: 15px;
            text-decoration: none;
            background-color: white;
            color: #00aa87;
            border: 1px solid #00aa87;
            border-radius: 3px;
            padding: 10px 15px;
            cursor: pointer;
            margin-left: 10px;
            font-size: 13px;
        }

            .btn-clear:hover {
                opacity: 0.8;
            }

        .filtered-items-container {
            background-color: #ffff;
            margin-top: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .quick-search-form {
            padding-top: 20px;
            margin-left: 20px;
        }

            .quick-search-form .form-group {
                width: 55%;
            }

        .item-header {
            display: flex;
            justify-content: space-between;
            background-color: #ffffff;
            padding: 30px;
            font-weight: bold;
            font-size: 0.90rem;
            width: 90%;
        }

        .item-card {
            background-color: white;
            font-size: 0.80rem;
            display: flex;
            flex-direction: column;
            transition: background-color 0.3s ease;
            position: relative;
            overflow: hidden;
        }

            .item-card:nth-child(even) {
                background-color: #F5F5F7;
            }

        .item-info {
            display: flex;
            width: 90%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 28px;
            margin-top: 28px;
            margin-left: 30px;
            height: 5px;
        }

        .no-found {
            padding: 15px;
            color: #00aa87;
            text-align: center;
        }

    </style>
</head>

<body>
    <header class="header">
        <div class="logo-name">
            <div class="company-logo">
                <img src="https://via.placeholder.com/50" alt="Company Logo">
            </div>
            <div class="company-name">LogiTrack</div>
        </div>
        <div class="profile-dropdown">
            <button onclick="toggleDropdown()">
                <i class="bi bi-person-circle"></i>
                <span class="arrow">&#x25BC;</span>
            </button>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <a asp-action="DriverDetails" asp-controller="Driver">Personal details</a>
                <a asp-action="Logout" asp-controller="Home">Logout</a>
            </div>
        </div>
    </header>

    <aside class="sidebar">
        <ul>
            <li><a asp-action="Dashboard" asp-controller="Accountant"><i class="bi bi-house-door"></i> Dashboard</a></li>
            <li>
                <a asp-action="SearchDeliveries" asp-controller="Accountant"><i class="bi bi-truck"></i> Deliveries</a>
            </li>
            <li>
                <a asp-action="SearchCashRegisters" asp-controller="Accountant"><i class="bi bi-money"></i> Cash registers <span class="arrow">></span></a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a asp-action="SearchDelivery" asp-controller="Accountant">New cash register</a></li>
                        <li><a asp-action="SearchCashRegisters" asp-controller="Accountant">Search</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a asp-action="SearchInvoices" asp-controller="Accountant"><i class="bi bi-money"></i> Invoices</a>
            </li>
        </ul>
    </aside>
    <div class="main-content">
        <div class="container mt-5">
            <div class="quick-search-header">
                <img src="https://via.placeholder.com/40" alt="Quick Search Icon" class="search-icon">
                <h2 class="quick-search-title">Quick Search</h2>
            </div>
            <p class="search-description">Please enter your search criteria</p>

            <form asp-action="SearchInvoices" asp-controller="Accountant" method="get" class="search-form">
                <div class="row">
                    <div class="form-group">
                        <label asp-for="DeliveryReferenceNumber"><b>Ref No</b></label>
                        <input type="text" id="ReferenceNumber" asp-for="DeliveryReferenceNumber" placeholder="Please enter">
                        <span asp-validation-for="DeliveryReferenceNumber"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompanyName"><b>Client</b></label>
                        <input type="text" id="CompanyName" asp-for="CompanyName" placeholder="Please enter">
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate"><b>Start</b></label>
                        <input type="date" id="StartDate" asp-for="StartDate" class="flatpickr" placeholder="Please enter">
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate"><b>End</b></label>
                        <input type="date" id="EndDate" class="flatpickr" asp-for="EndDate" placeholder="Please enter">
                    </div>
                    <div class="form-group">
                        <label asp-for="IsPaid"><b>Paid</b></label>
                        <input type="checkbox" id="IsPaid" asp-for="IsPaid">
                    </div>
                </div>
                <div class="button-group">
                    <button type="submit" class="btn"><b>GO</b></button>
                    <a asp-action="SearchInvoices" asp-action="Accountant" type="reset" class="btn btn-clear"><b>CLEAR</b></a>
                </div>
            </form>
        </div>

        <div class="filtered-items-container">
            <form asp-action="SearchDeliveries" asp-controller="Accountant" method="get" class="quick-search-form">
                <div class="form-group">
                    <input type="text" id="keyword" asp-for="SearchTerm" placeholder="Enter keyword">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </div>
            </form>
            <div class="item-header">
                <span>Invoice No</span>
                <span>Date</span>
                <span>Amount</span>
                <span>Paid</span>
                <span>File</span>
            </div>
            @if (Model.Invoices.Any())
            {
                <div class="delivery-list">
                    @foreach (var invoice in Model.Invoices)
                    {
                        <div class="item-card">
                            <div class="item-info">
                                <a asp-action="DeliveryDetails" asp-controller="Accountant" asp-route-id="@invoice.DeliveryId" style="text-decoration:none; color:inherit;"><span>@invoice.Number</span></a>
                                <span>@invoice.Date</span>
                                <span>@invoice.Amount</span>
                                <span>
                                    @if (invoice.IsPaid)
                                    {
                                        <p style="color: #00aa87;">Yes</p>
                                    }
                                    else
                                    {
                                        <p style="color: #00aa87;">No</p>
                                    }
                                </span>
                                <span>
                                    <a href="@invoice.FileUrl" target="_blank" class="file-icon" title="View or Download File">
                                        <i class="fas fa-file-download"></i> See
                                    </a>
                                </span>

                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p class="no-found">No invoices found matching the search criteria.</p>
            }
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr(".flatpickr", {
                dateFormat: "Y-m-d",
            });
        });
    </script>

</body>

</html>