@model LogiTrack.Core.ViewModels.Delivery.DeliveryForDriverViewModel
@{
    ViewData["Title"] = "Delivery details";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}


<div class="delivery-details-container">
    <div class="details-card">
        <div class="details-header">
            <div class="delivery-image">
                <i class="fas fa-shipping-fast" style="font-size: 40px; color: #00aa87;"></i>
            </div>
            <h3><b>@Model.ReferenceNumber</b></h3>
        </div>

        <div class="button-tabs">
            <button class="tab-button" id="vehicleBtn">VEHICLE</button>
            <button class="tab-button" id="addressesBtn">ADDRESSES</button>
            <button class="tab-button" id="metricsBtn">METRICS</button>
            <button class="tab-button" id="statusBtn">STATUS</button>
        </div>

        <div id="vehicleSection" class="section d-none">
            <div class="columns-container">
                <div class="column">
                    <h4><b>Vehicle details</b></h4>
                    <p><b>Registration number:</b> @Model.RegistrationNumber</p>
                    <p><b>Vehicle type:</b> @Model.VehicleType</p>
                </div>

                <div class="column">
                    <h4><b>Parameters</b></h4>
                    <p><b>Metrics:</b> @Model.VehicleLength cm X @Model.VehicleWidth cm X @Model.VehicleHeight cm</p>
                    <p><b>Weight capacity:</b> @Model.VehicleWeightCapacity KG</p>
                    <p><b>Fuel consumption:</b> @Model.FuelConsumptionPer100Km L/100KM</p>
                </div>
            </div>
        </div>

        <div id="addressesSection" class="section">
            <div class="columns-container">
                <div class="column">
                    <h4><b>Pickup Address</b></h4>
                    <p><strong>Street:</strong> @Model.PickupStreet</p>
                    <p><strong>City:</strong> @Model.PickupCity</p>
                    <p><strong>Country:</strong> @Model.PickupCountry</p>
                    <p><strong>Latitude:</strong> @Model.PickupLatitude</p>
                    <p><strong>Longitude:</strong> @Model.PickupLongitude</p>
                    @*<div id="pickupMap"
                         class="map"
                         data-latitude="@Model.PickupLatitude"
                         data-longitude="@Model.PickupLongitude"></div>
                    <p id="pickupAddress">Fetching address...</p>*@
                </div>

                <div class="column">
                    <h4><b>Delivery Address</b></h4>
                    <p><strong>Street:</strong> @Model.DeliveryStreet</p>
                    <p><strong>City:</strong> @Model.DeliveryCity</p>
                    <p><strong>Country:</strong> @Model.DeliveryCountry</p>
                    <p><strong>Latitude:</strong> @Model.DeliveryLatitude</p>
                    <p><strong>Longitude:</strong> @Model.DeliveryLongitude</p>
                    @*<div id="deliveryMap"
                         class="map"
                         data-latitude="@Model.DeliveryLatitude"
                         data-longitude="@Model.DeliveryLongitude"></div>
                    <p id="deliveryAddress">Fetching address...</p>*@
                </div>
            </div>
        </div>


        <div id="metricsSection" class="section  d-none">
            <div class="metrics-header">
                <div class="metrics-header-row">
                    <h4><b>Client</b></h4>
                    <p>@Model.ClientCompanyName</p>
                </div>
                <div class="metrics-header-row">
                    <h4><b>Type of goods</b></h4>
                    <p>@Model.TypeOfGoods</p>
                </div>
            </div>
            <div class="special-instructions">
                <h4><b>Special instructions</b></h4>
                <p>@Model.SpecialInstructions</p>
            </div>

            <div class="metrics">
                <h4><b>Standard metrics</b></h4>
            </div>
            <div class="standart-metrics-header-row">
                <p><b>Number</b></p>
                <p><b>Length</b></p>
                <p><b>Width</b></p>
                <p><b>Height</b></p>
                <p><b>Weight</b></p>
                <p><b>Stackable</b></p>
            </div>
            <div class="standart-metrics-info-row">
                <p>@Model.NumberOfPallets</p>
                <p>@Model.PalletLength</p>
                <p>@Model.PalletWidth</p>
                <p>@Model.PalletHeight</p>
                <p>@Model.WeightOfPallets</p>
                <p>@Model.PalletsAreStackable</p>
            </div>

            @foreach (var item in Model.NonStandardCargos)
            {
                <div class="metrics">
                    <h4><b>Non-Standart Metrics</b></h4>
                </div>
                <div class="non-standart-metrics-header-row">
                    <p><b>Length</b></p>
                    <p><b>Width</b></p>
                    <p><b>Height</b></p>
                    <p><b>Weight</b></p>
                    <p><b>Description</b></p>
                </div>
                <div class="non-standart-metrics-info-row">
                    <p>@item.Length</p>
                    <p>@item.Width</p>
                    <p>@item.Height</p>
                    <p>@item.Weight</p>
                    <p>@item.Description</p>

                </div>
            }
            <div class="metrics">
                <h4><b>More info</b></h4>
            </div>
            <div class="more-header-row">
                <p><b>Refrigerated</b></p>
                <p><b>Shared</b></p>
            </div>
            <div class="more-info-row">
                <p>@Model.IsRefrigerated</p>
                <p>@Model.SharedTruck</p>
            </div>
        </div>

        <div id="statusSection" class="section d-none">
            <div class="status-header">
                <div class="status-header-row">
                    <h4><b>Expected delivery date</b></h4>
                    <p>@Model.ExpectedDeliveryDate</p>
                </div>
                <div class="status-header-row">
                    <h4><b>Current time</b></h4>
                    <p>@Model.CurrentTime</p>
                </div>
                <div class="status-header-row">
                    <h4><b>Current location</b></h4>
                    <p id="location" style="font-size:0.9rem;">Fetching location...</p>
                </div>
            </div>
            <h4><b>Status</b></h4>

            <div class="button-steps">
                @if(Model.DeliveryStep < 4)
                {
                    <a asp-action="AddStatus" asp-controller="Driver" asp-route-id="@Model.Id" class="btn-primary">NEW STATUS +</a>
                }
                <div class="text-tracking-line">
                    <div class="tracking-line">
                        <div class="dot" style="background-color: @(Model.DeliveryStep >= 1 ? "#00aa87" : "gray")"></div>
                        <div class="line" style="background-color: @(Model.DeliveryStep >= 2 ? "#00aa87" : "gray")"></div>
                        <div class="dot" style="background-color: @(Model.DeliveryStep >= 2 ? "#00aa87" : "gray")"></div>
                        <div class="line" style="background-color: @(Model.DeliveryStep >= 3 ? "#00aa87" : "gray")"></div>
                        <div class="dot" style="background-color: @(Model.DeliveryStep >= 3 ? "#00aa87" : "gray")"></div>
                        <div class="line" style="background-color: @(Model.DeliveryStep >= 4 ? "#00aa87" : "gray")"></div>
                        <div class="dot" style="background-color: @(Model.DeliveryStep >= 4 ? "#00aa87" : "gray")"></div>
                    </div>
                    <div class="steps-text-container" style="display: flex; justify-content: space-around; align-items: center;">
                        <div class="text-icon" style="text-align: center;">
                            <i class="fas fa-calendar-check fa-2x" style="color: #4caf50;"></i>
                            <p class="step-text">Booked</p>
                        </div>
                        <div class="text-icon" style="text-align: center;">
                            <i class="fas fa-box fa-2x" style="color: #2196f3;"></i>
                            <p class="step-text">Collected</p>
                        </div>
                        <div class="text-icon" style="text-align: center;">
                            <i class="fas fa-truck-moving fa-2x" style="color: #ff9800;"></i>
                            <p class="step-text">In transit</p>
                        </div>
                        <div class="text-icon" style="text-align: center;">
                            <i class="fas fa-check-circle fa-2x" style="color: #8bc34a;"></i>
                            <p class="step-text">Delivered</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="movement-history">
                <h4><b>Movement updates</b></h4>
                <div class="movement-steps">
                    <p><b>Status</b></p>
                    <p><b>Location</b></p>
                    <p><b>Timestamp</b></p>
                </div>
                <div class="movement-rows">
                    @foreach (var movement in Model.DeliveryTrackings)
                    {
                        <div class="movement-row">
                            <div class="movement-event">
                                <p style="color:#00aa87;">@movement.StatusUpdate.ToUpper()</p>
                            </div>
                            <p class="movement-location"><i class="fas fa-map-marker-alt" style="margin-right: 5px; color: #FF5733;"></i> @movement.Address</p>
                            <p class="movement-time">@movement.Timestamp</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $('#vehicleBtn').click(function () {
            showSection('#vehicleSection');
        });
        $('#addressesBtn').click(function () {
            showSection('#addressesSection');
            initPickupMap();
            initDeliveryMap();
        });
        $('#metricsBtn').click(function () {
            showSection('#metricsSection');
        });
        $('#statusBtn').click(function () {
            showSection('#statusSection');
        });

        function showSection(sectionId) {
            $('.section').addClass('d-none');
            $(sectionId).removeClass('d-none');
        }
    });
</script>
@section Scripts {
    <script src="~/js/map.js"></script>
    <script src="~/js/currentPosition.js"></script>
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .delivery-details-container {
        width: 85%;
    }

    .details-card {
        box-shadow: 0 0 25px 1px #0000000f !important;
        padding: 17px;
        background-color: white;
    }

    .details-header {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .delivery-image {
        width: 50px;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    h4 {
        margin: 10px 0;
        font-size: 20px;
        color: #00aa87;
        font-weight: 500;
    }

    .columns-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

        .column p {
            font-size: 14px;
            color: black;
            opacity: 80%;
        }

    .maps-container {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    .map {
        width: 90%;
        height: 200px;
        background-color: #e0e0e0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .button-steps {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 200px;
        margin-bottom: 30px;
    }

    .text-tracking-line {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 70%;
    }

    .tracking-line {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: 35px;
    }

    .dot {
        width: 17px;
        height: 17px;
        border-radius: 50%;
    }

    .line {
        flex: 1;
        height: 6px;
    }

    .steps-text-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    .text-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .step-text {
        text-align: center;
        margin-top: 8px;
    }

    .metrics-header {
        display: flex;
        flex-direction: row;
        gap: 300px;
        margin-bottom: 20px;
    }

    .metrics {
        margin-top: 50px;
    }

    .standart-metrics-header-row {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        justify-content: space-between;
        width: 90%;
    }

    .standart-metrics-info-row {
        display: flex;
        flex-direction: row;
        background-color: #fbfbfb;
        margin-left: 40px;
        gap: 100px;
        white-space: nowrap;
        font-weight: 300;
        font-size: 14px;
        opacity: 80%;
        justify-content: space-between;
        width: 90%;
    }

    .non-standart-metrics-header-row {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        justify-content: space-between;
        width: 90%;
    }

    .non-standart-metrics-info-row {
        display: flex;
        flex-direction: row;
        background-color: #fbfbfb;
        margin-left: 40px;
        gap: 100px;
        font-weight: 300;
        font-size: 14px;
        opacity: 80%;
        justify-content: space-between;
        width: 90%;
    }

    .more-header-row {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        gap: 50px;
    }

    .more-info-row {
        display: flex;
        flex-direction: row;
        background-color: #fbfbfb;
        margin-left: 40px;
        gap: 100px;
        font-weight: 300;
        font-size: 14px;
        opacity: 80%;
    }

    .status-header {
        display: flex;
        flex-direction: row;
        gap: 180px;
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
        color: black;
        opacity: 80%;
    }

    .btn-primary {
        background-color: #00aa87;
        text-decoration: none;
        width: 145px;
        height: 30px;
        color: white;
        border: none;
        border-radius: 3px;
        padding: 10px 15px;
        cursor: pointer;
        margin-left: 10px;
        box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
    }

        .btn-primary:hover {
            opacity: 0.9;
        }

    a .btn-primary {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }

    .movement-history {
        margin-top: 40px;
    }

    .movement-steps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin-left: 10px;
        margin-top: 20px;
    }

    .movement-rows {
        display: flex;
        flex-direction: column;
    }

    .movement-row {
        display: flex;
        align-items: center;
        gap: 90px;
        padding: 10px 0;
    }

    .movement-event {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .movement-location {
        flex-wrap: wrap;
        max-width: 60%;
    }

    .movement-location, .movement-time {
        margin-left: 10px;
    }
</style>

