@model LogiTrack.Core.ViewModels.Delivery.DeliveryStatisticsForDriverViewModel
@{
    ViewData["Title"] = "Delivery statistics";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}

<div class="chart-container">
    <div class="cards-container">
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Successful deliveries</h3>
                <p><b>@Model.TotalSuccessfulCompleted</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Kilometers</h3>
                <p><b>@Model.TotalKilometers KMs</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>CO2 emissions</h3>
                <p><b>@Model.TotalCarbonEmission M3</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Domestic</h3>
                <p><b>@Model.TotalDomesticDeliveries</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>International</h3>
                <p><b>@Model.TotalInternationalDeliveries</b></p>
            </div>
        </div>
    </div>

    <div class="first-row">
        <div class="chart-container">
            <h4>Delivery types ratio</h4>
            <canvas id="deliveryChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <h4>Deliveries made on time</h4>
            <div class="delay">
                <canvas id="successRateChart" class="chart"></canvas>
                <p style="color: #00aa87; width: 100px;" id="averageDelay" class="stat-text"></p>
            </div>
        </div>
    </div>
    <div class="second-row">
        <h4>Last year deliveries</h4>
        <canvas id="monthlyDeliveryChart" class="chart" style="width: 300px;"></canvas>
    </div>
</div>


@section Scripts {
    <script src="~/js/driverDeliveryStatistics.js"></script>
}



