@model LogiTrack.Core.ViewModels.Driver.DriverViewModel
@{
    ViewData["Title"] = "Driver details";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}


<div class="details-container">
    <div class="details-title">Driver Details</div>
    <div class="divider-line"></div>
    <div class="details-info">
        <div class="general-details">General Information</div>
        <div class="details-row">
            <span><b>Name</b></span>
            <span>@Model.Name</span>
        </div>
        <div class="details-row">
            <span><b>Username</b></span>
            <span>@Model.Username</span>
        </div>
        <div class="details-row">
            <span><b>Age</b></span>
            <span>@Model.Age</span>
        </div>
        <div class="details-row">
            <span><b>Salary</b></span>
            <span>$@Model.Salary / month</span>
        </div>
        <div class="details-row">
            <span><b>Experience</b></span>
            <span>@Model.YearOfExperience years, @Model.MonthsOfExperience months</span>
        </div>
        <div class="details-row">
            <span><b>Preferences</b></span>
            <span>@Model.Preferrences</span>
        </div>
    </div>
</div>
<style>
    .details-container {
        width: 800px;
        background-color: #ffffff;
        box-shadow: 0 0 25px 1px #0000000f !important;
        display: block;
    }

    .details-title {
        font-size: 23px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
        padding: 20px;
    }

    .divider-line {
        height: 1px;
        background-color: #e0e0e0;
        margin: 10px 0;
    }


    .details-info {
        padding: 20px;
    }

    .general-details {
        font-size: 18px;
        color: #00aa87;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .details-row {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #333;
        padding: 10px 0;
        margin-left: 10px;
    }

        .details-row span {
            color: black;
            font-size: 15px;
            flex: 1;
            opacity: 80%;
        }

            .details-row span:first-child {
                width: 150px;
                font-weight: bold;
            }
</style>


