@model LogiTrack.Core.ViewModels.Offer.AcceptOfferViewModel
@{
    ViewData["Title"] = "Accept Offer";
    Layout = "~/Views/Shared/_ClientsLayout.cshtml";
}


<div class="confirmation-container">
    <h3>Confirm booking for offer Ref No: @Model.OfferNumber</h3>
    <p class="confirmation-message">
        Do you want to book offer with request No: <strong>@Model.RequestNumber</strong>
        issued on <strong>@Model.OfferDate</strong> with amount <strong>@Model.Amount BGN</strong>?
    </p>

    <div class="confirmation-buttons">
        <form asp-action="BookOffer" asp-controller="Clients" asp-route-id="@Model.OfferId" method="post">

            <button type="submit" class="btn"><b>CONFIRM</b></button>
        </form>
        <a asp-action="BookOffer" asp-controller="Clients" asp-route-id="@Model.OfferId" class="btn-clear"><b>CANCEL</b></a>
    </div>
</div>


