@model LogiTrack.Core.ViewModels.Clients.CompanyDetailsViewModel
@{
    ViewData["Title"] = "Company Details";
    Layout = "~/Views/Shared/_ClientsLayout.cshtml";
}
<div class="company-container">
    <div class="company-title">Company details</div>
    <div class="divider-line"></div>
    <div class="details-info">
        <div class="general-details">General Information</div>
        <div class="company-row">
            <span><b>Name</b></span>
            <span>@Model.Name</span>
        </div>
        <div class="company-row">
            <span><b>Registration number</b></span>
            <span>@Model.RegistrationNumber</span>
        </div>
        <div class="company-row">
            <span><b>Industry</b></span>
            <span>@Model.Industry</span>
        </div>
        <div class="divider-line"></div>

        <div class="general-details">Address</div>
        <div class="company-row">
            <span><b>City</b></span>
            <span>@Model.City, @Model.PostalCode</span>
        </div>
        <div class="company-row">
            <span><b>Country</b></span>
            <span>@Model.Country</span>
        </div>
        <div class="company-row">
            <span><b>Street</b></span>
            <span>@Model.Street</span>
        </div>
    </div>
</div>
<style>
    .company-container {
        width: 800px;
        background-color: #ffffff;
        box-shadow: 0 0 25px 1px #0000000f !important;
        display: block;
    }

    .company-title {
        font-size: 23px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
        padding: 20px;
    }

    .divider-line {
        height: 1px;
        background-color: #e0e0e0;
        margin: 10px 0;
    }

    .general-details {
        font-size: 18px;
        color: #00aa87;
        font-weight: 600;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .company-row {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #333;
        padding: 10px 0;
        margin-left: 10px;
    }

        .company-row span {
            color: black;
            font-size: 15px;
            flex: 1;
        }

            .company-row span:first-child {
                width: 150px;
                font-weight: bold;
            }

    .details-info {
        padding: 20px;
    }
</style>


