@model LogiTrack.Core.ViewModels.Clients.ContactDetailsViewModel

@{
    ViewData["Title"] = "Add Status";
    Layout = "~/Views/Shared/_ClientsLayout.cshtml";
}

<div class="contact-container">
    <div class="contact-title">Contact details</div>
    <div class="divider-line"></div>
    <div class="details-info">
        <div class="general-details">User Information</div>
        <div class="contact-row">
            <span><b>Username</b></span>
            <span>@Model.Username</span>
        </div>
        <div class="contact-row">
            <span><b>Email</b></span>
            <span>@Model.Email</span>
        </div>
        <div class="divider-line"></div>

        <div class="general-details">Contact information</div>
        <div class="contact-row">
            <span><b>Contact person</b></span>
            <span>@Model.ContactPerson</span>
        </div>
        <div class="contact-row">
            <span><b>Phone number</b></span>
            <span>@Model.PhoneNumber</span>
        </div>
        <div class="contact-row">
            <span><b>Alternative phone number</b></span>
            <span>@Model.AlternativePhoneNumber</span>
        </div>
    </div>
</div>
<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    .contact-container {
        width: 800px;
        background-color: #ffffff;
        box-shadow: 0 0 25px 1px #0000000f !important;
        display: block;
    }

    .contact-title {
        font-size: 23px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
        padding: 20px;
        margin-top: 10px;
    }

    .divider-line {
        height: 1px;
        background-color: #e0e0e0;
        margin: 10px 0;
    }

    .general-details {
        font-size: 18px;
        color: #00aa87;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .contact-row {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #333;
        padding: 10px 0;
        margin-left: 10px;
    }

        .contact-row span {
            color: black;
            font-size: 15px;
            flex: 1;
        }

            .contact-row span:first-child {
                width: 150px;
                font-weight: bold;
            }

    .details-info {
        padding: 20px;
    }
</style>


