@model LogiTrack.Core.ViewModels.Invoice.InvoiceStatisticsForClientViewModel
@{
    ViewData["Title"] = "Invoice Statistics";
    Layout = "~/Views/Shared/_ClientsLayout.cshtml";
}


<div class="chart-container">
    <div class="cards-container">
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Paid invoices- amount</h3>
                <p><b>@Model.PaidInvoices - @Model.PaidAmount BGN</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Pending invoices- amount</h3>
                <p><b>@Model.PendingInvoices - @Model.PendingAmount BGN</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Overdue invoices- amount</h3>
                <p><b>@Model.OverdueInvoices - @Model.OverdueAmount BGN</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Average payment time</h3>
                <p><b>@Model.AveragePaymentTime days</b></p>
            </div>
        </div>
    </div>

    <div class="first-row">

        <div class="chart-container">
            <h4>Invoices status ratio</h4>
            <canvas id="invoiceStatusChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <h4>Total amount spent on services</h4>
            <canvas id="totalSpendingChartContainer" class="chart"></canvas>
        </div>


    </div>
    <div class="chart-container">
        <h4>Approximate price to final price differences</h4>
        <canvas id="priceDifferenceChart" class="chart"></canvas>
    </div>
</div>
@section Scripts {
    <script src="~/js/clientInvoiceStatistics.js"></script>
}





